[2019-11-23 16:55] swharden commented on #181
I added some code to the finance demo which shows how to get the `DateTime` of the point under the mouse. This should be a pretty strong start!

![image](https://user-images.githubusercontent.com/4165489/69482357-f2c7ac80-0de7-11ea-91cb-7ff09741b89e.png)

[2019-11-23 17:19] swharden commented on #108
@FadyDev2 this is live on NuGet now (ScottPlot 4.0.3)

[2019-11-23 18:50] satyat110 commented on #181
Thanks Scott. I can able to add the OHLC values on candle hover over. This works!!!!!
If we could able to change the background color of the whole text will differentiate and look nice :-)
Any suggestions...

![chartwithValue](https://user-images.githubusercontent.com/58095701/69483628-8b592f00-0dde-11ea-8e57-15bdde9377f3.png)

[2019-11-23 19:04] swharden commented on #181
Hey that looks great!

Would you be up for modifying the code of the finance demo so it does this (with pull request), then I can use that as a starting point for improving the styling?

[2019-11-23 20:35] satyat110 commented on #181
Absolutely. I am more than happy to share the code what I am adding. Give me couple of days....

[2019-11-24 05:07] Minu476 opened #182 "improve OHLC constructor"
Version 4.03 require the x coordinate be always declare as DateTime in OHLC class. This cause a major break in all existing codes that require double. An overload constructor will be nice. I got around this by using day public field afterward.

[2019-11-24 05:45] swharden commented on #182
Hey @Minu476 thanks for mentioning this. I added an overload constructor like you suggested.

I also renamed "day" to "time" because if the user is taking-over the horizontal axis units, the numbers might be in seconds or minutes or something other than days.

[2019-11-24 15:47] swharden commented on #182
I'll wait until @satyat110 finishes their candlestick improvements (#181) then release a new NuGet package whose improvements focus on OHLC/candlestick.

[2019-11-24 15:49] swharden commented on #181
Sounds good! As soon as this is finished I'll combine your changes with #182 and release a new NuGet package whose improvements focus on OHLC/candlestick.

[2019-11-24 19:42] swharden commented on #181
[code]

[2019-11-24 20:50] swharden commented on #181
![image](https://user-images.githubusercontent.com/4165489/69501343-1109d700-0ed2-11ea-8336-3aa1d678e452.png)

[2019-11-24 20:50] #181 closed

[2019-11-24 20:50] #182 closed

[2019-11-24 23:01] satyat110 opened #183 "Winform User control error."
With the latest ScottPlot.Winform from NuGet, its throwing the below error.

![Error](https://user-images.githubusercontent.com/58095701/69503097-3d6e2500-0ecb-11ea-845d-0661e64917fb.png)

[2019-11-25 00:17] swharden commented on #183
Thanks for letting me know about this! I guess it's a problem if I just upgrade the ScottPlot package and don't also upgrade the WPF and WinForms controls packages (even though their code didn't change).

I just uploaded version 4.0.4 versions of the controls. Want to try it again and re-open this issue if you still have a problem?

[2019-11-25 00:17] #183 closed

[2019-11-25 10:39] FadyDev2 commented on #108
@swharden

Thanks a lot for your quick implementation and replies :)

I have another idea that may be of a good use.
I am working on an app which used in different languages. I used to use an old ploting library (ScottPlott is really better than it ;) ) but it has a good feature; it was adapting itself to the current app culture and show the dateTime in the corresponding format.

I hope something

[2019-11-25 13:00] swharden opened #184 "Improve candle width detection"
Currently OHLC charts use the first two data points to determine candlestick width.

Change this to use the smallest inter-candle distance.

[2019-11-25 13:06] swharden commented on #108
I like the idea - I’ll look into it!

[2019-11-25 18:07] satyat110 commented on #184
Thanks Scott. will wait for the update

[2019-11-26 12:46] ab-tools opened #185 "Optionally display lineWidth in legend"
I see that the `LineStyle` for legends can be adjusted already, but it seems that the line width is currently hard-coded.
Would it be possible to make this adjustable as well that the with of the line displayed in the legend box can be made a bit larger/thicker?

Thanks in advance
Andreas

[2019-11-26 14:25] swharden commented on #185
Hey @ab-tools thanks for raising this point. I'll issue a change shortly.

I know this topic was discussed before (I think by @Padanian who did early work on the legend) and the conclusion at the time was that allowing line width to be reflected in the legend looked bad more often than not.

However, it seems useful to leave this option up to the _user_ using a flag like:

[code]

Note to self, th

[2019-11-26 21:05] ab-tools commented on #185
Great, thanks a lot, appreciating your very fast reply! :-)

[2019-11-27 16:37] #184 closed

[2019-11-27 16:38] swharden commented on #184
I think it's fixed now. Open this issue again it it doesn't work for you.

I'll issue a new NuGet package shortly.

[2019-11-27 16:53] swharden commented on #185
Fixed!

[code]

See the cookbook example: https://github.com/swharden/ScottPlot/tree/master/cookbook#styling-scatter-plots

[2019-11-27 16:53] #185 closed

[2019-11-27 17:08] swharden commented on #108
It seems the best way to do this is to use the DateTime.ToString() functions:
https://docs.microsoft.com/en-us/dotnet/api/system.datetime.tostring

I made everything locale based simply using `ToString("d")`, `ToString("t")`, or `ToString("t")`. This improved things for me because it neatly switched to AM/PM format rather than 24-hour time format.

![image](https://user-images.githubusercontent.co

[2019-11-27 19:14] ab-tools commented on #185
Thanks a lot! :-)

[2019-11-27 19:45] satyat110 commented on #184
Thanks. Will wait for the update.

[2019-11-27 19:56] swharden commented on #184
It’s already updated and live! 4.0.5

[2019-11-28 01:55] satyat110 opened #186 "Candlechart - Remove weekends and holidays"
Over the weekends and holidays, market is closed and we don't have any data to display in the charts from the data source in the daily charts. Also the same applies for the hourly charts after market hours. Is there a way to skip, if we don't have data from the data source.
Currently it shows a blank space for those no data days (refer attached chart)

![Chartimage](https://user-images.githubuserc

[2019-11-28 04:07] gobikulandaisamy opened #187 "Editing label with no plot selected throws exception"
Sir,
Please see the below Image.
![image](https://user-images.githubusercontent.com/24189431/69776623-05186080-11c3-11ea-8240-8fef5249dc6c.png)

By
K.GOBI
Tamil Nadu. India

[2019-11-28 16:07] gobikulandaisamy opened #188 "Error in 4.0.5.0"
Dear Sir,
The same error noticed in 4.0.4.0 still occur in 4.0.5.0
Please refer previous post

GOBI.K

[2019-11-28 16:10] swharden commented on #188
Will discuss in #187

[2019-11-28 16:10] #188 closed

[2019-11-28 16:29] swharden commented on #186
Consider these two statements:

* Daily stock price data is not uniformly spaced in time since weekends and holidays have no data
* ScottPlot plots data on a linear horizontal axes

To display stock prices over time but not display weekends and holidays, you need a non-linear horizontal axis (an axis that literally skips numbers). ScottPlot is not designed to be able to do this. All of the axis, g

[2019-11-28 16:29] #186 closed

[2019-11-28 20:38] satyat110 commented on #186
Thanks Scott... I will try your alternate if needed...

[2019-11-29 19:34] swharden commented on #187
Thanks for reporting this @gobikulandaisamy,

I fixed this by disabling that box until a plottable is selected from the list.

I'll publish the new package on NuGet within the next couple hours.

[2019-11-29 19:51] swharden commented on #186
Anticipating this is may be a common question, I added an example of this to the cookbook:
https://github.com/swharden/ScottPlot/tree/master/cookbook#candlestick-days-evenly-spaced

[2019-11-30 02:48] gobikulandaisamy commented on #188
Thank you so much sir. I will try this new version and give you the feedback.

[2019-11-30 02:58] gobikulandaisamy commented on #188
New latest release is working fine sir.

[2019-12-01 09:48] petarpetrovt opened #189 "Object reference not set to an instance of an object."
Example
[code]
NuGet: `ScottPlot.WinForms` - `4.0.6`
StackTrace:
[code]

I would suggest the adoption of c# [8.0 null reference types](https://devblogs.microsoft.com/dotnet/embracing-nullable-reference-types/).
As this is not the first time i report this problem :)

[2019-12-01 17:04] swharden commented on #189
Hi @petarpetrovt thanks for reporting this. Unfortunately I cannot reproduce this error - the control installs fine for me.

Are you using this in a .NET Framework application? What version of the framework?

[2019-12-01 17:43] swharden commented on #189
I found your previous issue (#138) which is the identical problem. I realized you're using WinForms with .NET Core 3.0, and by creating a .NET Core 3.0 WinForms application I was able to reproduce this error. This error only occurs in .NET Core 3.0 WinForms projects.

For simplicity I'll discuss the solution in #138. Thanks again for mentioning this!

[2019-12-01 17:43] #189 closed

[2019-12-01 17:54] swharden commented on #138
This issue arose again (as pointed out by @petarpetrovt in #189) after the WinForms control was re-written from scratch (probably affecting all versions from 4.0.0 - 4.0.6).

The cause of this issue is that `FormsPlot.plt` is null when a `SizeChanged` event is triggered. This is highly unexpected because the constructor of `FormsPlot` initializes `FormsPlot.plt`. I do not understand how .NET Core

[2019-12-01 18:26] swharden commented on #189
I believe this is fixed in 4.0.7 (now live on NuGet)

[2019-12-03 13:10] FadyDev2 commented on #108
Well done @swharden
Thanks a lot, I like the new adjustments and now we have it almost localizable.
I just noticed a small problem, if the current culture is not english, when zooming out, the months names are displayed in english appreviations (Jan, Feb, ...).

I wonder if that also could be localized.

Thanks and have a nice day.

[2019-12-03 14:19] swharden commented on #108
You're right! I changed the hard-coded format to use `DateTime.ToString()` everywhere but overlooked one place. That error is here:

https://github.com/swharden/ScottPlot/blob/b2f754ffdfeeef3319dbcd853d53bbc372c08dcb/src/ScottPlot/Config/DateTimeTicks.cs#L71

What format do you think we should use? This line could be changed to:
[code]

[2019-12-04 00:20] swharden commented on #108
Fixed in ScottPlot 4.0.9 (live on NuGet)

[2019-12-04 00:20] #108 closed

[2019-12-04 04:45] gobikulandaisamy commented on #187
Thankyou sir. Any issue I will you by mail.

On Sat, 30 Nov, 2019, 1:02 AM Scott W Harden, <notifications@github.com>
wrote:

[2019-12-10 15:09] robokamran opened #190 "[Feature Request] Show Value on hover"
ScottPlot is a very neat component, I have already suggested for it to be added to [Awesome .NET!
](https://github.com/quozd/awesome-dotnet).

A very useful tool is to show tooltips when the mouse hovers over a point. The [ZedGraph](https://github.com/ZedGraph/ZedGraph) handles it perfectly using tooltips. The plot property is **IsShowPointValues**. I have provided a screenshot below:

![image](ht

[2019-12-10 15:40] swharden commented on #190
Hi Robokamran, I'm glad you find this package useful!

"Show value on hover" already exists and a demo can be found in the demos folder. Admittedly it's a bit complex, but you may find that code useful. This topic is discussed in https://github.com/swharden/ScottPlot/issues/115

[2019-12-10 15:40] #190 closed

[2019-12-16 02:34] s3hengwu opened #191 "when i run ScottPlotDemos, System.NullReferenceException:"
![微信截图_20191216103245](https://user-images.githubusercontent.com/8500025/70875048-96733980-1fef-11ea-937e-39689ce2af75.png)

[2019-12-16 02:45] swharden commented on #191
Thanks for reporting this!

Are you able to compile the demos program from source? Does the one you compile yourself work on your system?

[2019-12-16 03:12] s3hengwu commented on #191
![2](https://user-images.githubusercontent.com/8500025/70876562-ffa97b80-1ff4-11ea-9995-88473924de7c.png)

[2019-12-16 13:53] swharden commented on #191
This is hard for me to diagnose since I cannot produce this error on my system. This may be related to #189

Are you using .NET Framework or .NET Core?

[2019-12-17 09:10] #191 closed

[2019-12-20 21:44] swharden commented on #191
@s3hengwu I noticed you closed this issue. Did you resolve this problem?

[2019-12-23 14:11] swharden opened #193 "add notes to readme comparing ScottPlot to similar libraries"
Similar open-source libraries to be compared are:
* [LiveCharts](https://github.com/Live-Charts/Live-Charts)
* [OxyPlot](https://github.com/oxyplot/oxyplot)
* [ZedGraph](https://github.com/ZedGraph/ZedGraph)

[2019-12-26 18:24] swharden opened #194 "PlotSignal ignores yOffset when colorByDensity is used"
This bug was introduced in #192 and only affects signal plots using the `colorByDensity` argument.

This code should produce non-overlapping graphs, but currently it does not:
[code]

[2019-12-28 09:23] StendProg commented on #194
#195 add missed `yOffset` param.
I rememder i dragged this `+ yOffset` lots of  time in code. Some time i missed that...

[2019-12-29 16:26] swharden commented on #194
No worries! I just merged #195 in. Thank you @StendProg for all of your hard work

[2019-12-29 16:26] #194 closed

[2019-12-30 14:33] karimshams opened #196 "WPF SaveFig() fails when called before OnResize event"
I tried to save  the figure using different ways but I always get empty file.

[2019-12-30 16:40] StendProg commented on #196
Hi @karimshams , thanks for your feedback.
I tried to reproduce you problem on latest version of ScottPlot, and SaveFig() in WPF application works correct.

1. Can you reproduce problem on latest version of ScottPlot 4.0.9?
2. Can you provide code example to reproduce you problem?

[2019-12-31 07:33] karimshams commented on #196
I still have the same issue, herein the code example:

C# code:

            List<double> dataX = new List<double>();
            List<double> dataY = new List<double>();
            foreach (var Node in NodesEnvelopes)
            {
                dataX.Add(Node.Value.Key.Item2);
                dataY.Add(Node.Value.Key.Item3);

            }

            wpfPlot1.plt.PlotScatter(dataX.ToArray()

[2019-12-31 09:31] StendProg commented on #196
Thanks for provided code, i get the same empty file.
This happens because at constructor time ScottPlot does not render correct.
Canvas have (0,0) size at constructor time.
After constructor time, canvas rise up to actual size, and ScottPlot rerender correct on OnResize event.

If you still want to run SaveFig from constructor, you can do the trick with awaiting of canvas rising:
[code]

Possible

[2019-12-31 14:29] swharden commented on #196
@StendProg thank you for solving @karimshams problem!

Perhaps I should make SaveFig() throw an exception is a save is attempted when the size is 0,0 to make this problem easier to identify in the future 🤔

[2020-01-02 14:39] efakhri opened #197 "Could not install package 'ScottPlot 4.0.9'"
Hi,
I tried to install ScottPlot.Winforms, but i get the following error:
Install-Package : Could not install package 'ScottPlot 4.0.9'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.6.1', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2020-01-02 18:40] swharden commented on #197
Hi @efakhri, I just tested this and it seemed to work for me! Perhaps update visual studio and try again with a clean project?

![image](https://user-images.githubusercontent.com/4165489/71685045-31487380-2d65-11ea-8225-30aeeae928da.png)

![image](https://user-images.githubusercontent.com/4165489/71685073-41f8e980-2d65-11ea-9af6-e0dc000500c9.png)

[code]

[2020-01-02 18:44] swharden commented on #197
Oh, @efakhri, your problem is that you must be using .NET Framework 4.6.1 or newer. Supported frameworks are:

https://github.com/swharden/ScottPlot/blob/0c52169b41676702444701f8e096a5898ddecf70/src/ScottPlot.WinForms/ScottPlot.WinForms.csproj#L4

[2020-01-02 18:44] #197 closed

[2020-01-09 00:29] swharden opened #199 "plt.Clear() should reset automatic axis detection"
`plt.AxisAuto()` gets called _automatically_ the first time data is plotted.

However, after calling `plt.Clear()` then plotting new data, `plt.AxisAuto()` does not get called.

[2020-01-09 00:45] swharden opened #200 "PlotLine()"
It would be useful to have a PlotLine() function which, under the hood, really just creates a scatter plot with two points.

[2020-01-09 03:35] #200 closed

[2020-01-09 16:45] swharden opened #201 "add support for arrows"
annotation arrows as a new `Plottable` would be nice (suggested by Michael)

[2020-01-09 16:48] swharden opened #202 "only render the first N data points in Signal plots"
If you have live incoming data populating a large array in memory, the first part of the array contains real values and the last part of the array contains zeros that should not be displayed. Consider extending `PlottableSignal` to allow only rendering the first N data points. Obviously the default would be to render all data points.

[2020-01-10 15:46] StendProg commented on #202
This can be done with manual setup `Horisontal` axis range, or add axis range helper method that accept N. There is no need to change `PlottableSignal`. Maybe i misunderstand your idea.

[2020-01-10 16:55] swharden commented on #202
If I want to plot 1 minute of data in real time (plot it live, as the data is recorded) it makes sense to create a double array in memory (of all 0s) then fill the array with data values as they are measured. I would like to display incoming data while hiding the 0s, like this.

![action-potential](https://user-images.githubusercontent.com/4165489/72170387-cddec700-339e-11ea-87c0-93243bd830f2.gif)

[2020-01-10 17:01] swharden commented on #202
More specifically, I'd like to use ScottPlot to create an application to display voltage over long periods of time. I have a voltmeter which produces 1 measurement per second and sends it to the computer using a serial port.

Previously I used Python to create graphs ([pyTENMA](https://github.com/swharden/pyTENMA)) of voltage from this meter. That application produced a static graph, but I'd like

[2020-01-10 17:20] StendProg commented on #202
Easy way to implement this without "magic" numbers:
nullable field indicating N.
[code]
Draw methods use DrawCount instead of ys.Length if DrawCount not null.
Axis range calculation always use ys.Length.
But it need carefully change all `RenderHighDensity()`, `RenderLowDensity()`

[2020-01-10 17:36] swharden commented on #202
Ha! Yes, magic numbers are a bad code smell 😅

I like this idea! I prefer the name `maxRenderIndex`

I'm currently designing a circuit board to perform voltage measurements at a rate of about 100 per second, so performance is a goal.

[2020-01-10 23:34] swharden commented on #202
I created a new demo program to make this feature easy to test when we figure out how to implement it. It also demonstrates the problem (zeros should not get plotted).

![incoming-data](https://user-images.githubusercontent.com/4165489/72193459-92acba00-33d7-11ea-807c-4019021a63bc.gif)

![image](https://user-images.githubusercontent.com/4165489/72193451-8c1e4280-33d7-11ea-9317-e6d5f4985918.png)

[2020-01-11 18:30] swharden opened #203 "Scatter and Signal plots fail for data containing double.NaN"
If data contains even a single `double.NaN` value, the entire plot fails to render properly. How should `double.NaN` be handled? Perhaps it could indicate data points which should not be rendered (#202)

- [ ] `GetLimits()` in every `Plottable` should be modified to ignore `double.NaN`
- [ ] `Render()` in every `Plottable` should be modified to not render `double.NaN`

### Problem code:
[code]

##

[2020-01-11 18:52] swharden commented on #202
@StendProg actually `double.NaN` may be a good value to not render. I don't think I'd consider this a "magic number" since it literally means "not a number" 🤔

I will still also add the `maxRenderIndex` argument since that will be computationally faster

[2020-01-11 19:16] swharden commented on #202
This is what I came up with...

Using a class-level signal:

[code]

[code]

Update the `maxRenderIndex` whenever new data has been added:
[code]

Then `Render()` whenever you want (perhaps on a separate timer):
![incomingData](https://user-images.githubusercontent.com/4165489/72209478-76168d80-347c-11ea-8c93-392b92e3cfa7.gif)

[2020-01-13 05:18] plumforest commented on #203
I worked with LabVIEW graph control very a lot .
LabVIEW graph controls do ignore NaN while drawing a line/curve.

In case a NaN in the middle of an array, both sides are render while a span left  between them.

[2020-01-13 05:35] plumforest commented on #202
Below is a LabVIEW Chart, similar effect?

![labview_chart](https://user-images.githubusercontent.com/48978621/72234770-8f991000-3609-11ea-96cf-2dc9c52aa528.gif)

[2020-01-13 20:16] swharden opened #204 "custom tick font"
add arguments to Plot.Ticks() to set `settings.ticks.font` (suggested by Clay)

[2020-01-13 20:19] swharden opened #205 "support multi-line titles"
This doesn't render properly:
[code]

[2020-01-13 22:26] swharden opened #206 "allow Plot.Grid() to selectively enable horizontal or vertical axis lines"
currently there is an `enable` argument, but it turns both on and off

[2020-01-16 16:00] senged opened #207 "Logarithmic axis"
As far as I can tell this currently isn't supported. Request would be to allow setting any or all of the axis as log mode. Thanks.

[2020-01-16 18:36] swharden commented on #207
Hi @senged, thanks for your suggestion. This topic comes up from time to time (#29, #41), but there is currently no way to plot data on log scales.

I will create some helper functions and code demos to demonstrate how to transform log data such that it can be plotted on a linear axis (giving the appearance of a log scale), but true rendering of nonlinear axes is unlikely to be supported.

I'll le

[2020-01-17 09:31] JagDTalcyon commented on #90
I have a difficulty in using the application in laptop which doesn't have middle click.
So, how can i use the select rectangle zoom option in left button or right button ?

[2020-01-17 14:10] swharden opened #208 "Recompile demos"
[ScottPlotDemos.zip](https://github.com/swharden/ScottPlot/tree/master/demos/ScottPlotDemos.zip) has fallen out of date. Can we automate its compilation and zipping?

[2020-01-17 14:11] swharden commented on #90
@JagDTalcyon this is an interesting case I hadn't considered! Shift+Left-click-drag is available, what do you think about that as a way to "zoom into a rectangle" without requiring a middle mouse button?

[2020-01-17 23:26] swharden commented on #90
@JagDTalcyon it turns out I was able to do this with a one-line modification for the WinForms and WPF controls.

I also made Shift + Left-click "auto-axis" (like middle-click typically does).

This change will make it into version 4.0.10 which I intend to publish on NuGet some time this weekend. Thanks again for your suggestion!

[2020-01-17 23:26] #90 closed

[2020-01-17 23:36] #196 closed

[2020-01-18 16:29] #199 closed

[2020-01-18 17:56] #202 closed

[2020-01-18 17:58] swharden commented on #203
Ignoring `double.NaN` requires a lot of `if` checks in loops which hurts performance. Since no one's ever _requested_ this functionality, I'd prefer to keep performance as high as possible.

If a data gap is truly desired, the best way to do it for now would be to plot two arrays.

[2020-01-18 17:58] #203 closed

[2020-01-18 18:08] swharden commented on #204
[code]

[2020-01-18 18:10] #204 closed

[2020-01-18 18:16] swharden commented on #205
Actually, the bug is that the title size calculation code is using the X axis label font size.

https://github.com/swharden/ScottPlot/blob/16e1bdf39787b9c40fadadb37c252327a8028c18/src/ScottPlot/Settings.cs#L113

[2020-01-18 18:19] #205 closed

[2020-01-18 18:31] #206 closed

[2020-01-18 19:10] swharden commented on #207
I made a little tool to make this task easier and added a cookbook example showing how to do this.

https://github.com/swharden/ScottPlot/tree/master/cookbook#log-axis

I'll publish this on NuGet shortly

[code]

![image](https://user-images.githubusercontent.com/4165489/72669016-cea8d600-39fa-11ea-8f44-1c1ec06f8ce8.png)

[2020-01-18 19:10] #207 closed

[2020-01-18 19:11] swharden commented on #29
I added a cookbook example showing how to do this:
https://github.com/swharden/ScottPlot/tree/master/cookbook#log-axis

![image](https://user-images.githubusercontent.com/4165489/72669139-5e02b900-39fc-11ea-90c2-10c336322635.png)

[2020-01-18 19:11] swharden commented on #41
I added a cookbook example showing how to plot log-scale data:
https://github.com/swharden/ScottPlot/tree/master/cookbook#log-axis

![image](https://user-images.githubusercontent.com/4165489/72669139-5e02b900-39fc-11ea-90c2-10c336322635.png)

[2020-01-18 21:32] swharden commented on #201
Example is now in cookbook:
https://github.com/swharden/ScottPlot/tree/master/cookbook#plotting-arrows

[code]

![image](https://user-images.githubusercontent.com/4165489/72670797-f5bdd280-3a0f-11ea-9574-d673dd625151.png)

[2020-01-18 21:32] #201 closed

[2020-01-18 21:41] #208 closed

[2020-01-18 21:42] swharden commented on #193
I'm working on a graphics video series for YouTube. After I post the section about this topic (with code examples), I'll link to it in the main readme.

[2020-01-18 21:42] #193 closed

[2020-01-19 02:44] swharden opened #209 "improve Plottable interfaces"
Right now all plottable objects inherit from a single abstract class:

https://github.com/swharden/ScottPlot/blob/bdabe1111db2d5fc54da531532f1236fbc1101c4/src/ScottPlot/plottables/Plottable.cs#L10-L23

I'm considering respecting the [interface-segregation principle](https://en.wikipedia.org/wiki/Interface_segregation_principle) by moving some of these methods and properties to a collection of smal

[2020-01-19 09:09] lihongfang16 opened #210 "in version 3.1.6 how can i use plt.PlotScatter with axisX dateTime type?"
in version 3.1.6 how can i use plt.PlotScatter with axisX dateTime type?

[2020-01-19 09:14] #210 closed

[2020-01-19 12:36] gobikulandaisamy commented on #187
Dear Swharden/Scottplot

Here I have attached my suggestions in Scottplot and Scottplot.winforms

Please do the needful.

Also I have attached vb code also (developed by Visusal Studio 2017
community edition

Please find the below link

https://1drv.ms/u/s!Autdlpkj4dEihG5EVwhdbx-6-QdB?e=j9gRFV

In this follow the changeNote.txt

FormsFlot.cs
Line:94 //Gobi: mouselocation Private to public
Line:190

[2020-01-19 13:44] swharden commented on #187
Hi @gobikulandaisamy, thanks for your suggestions. I reviewed your zip file and re-stated your suggestions here to make them easier to read.

Note that changes to the WinForms control should also be made to the WPF control in [WpfPlot.xaml.cs](https://github.com/swharden/ScottPlot/blob/master/src/ScottPlot.WPF/WpfPlot.xaml.cs).

### Make `mouseLocation` public

This variable holds the latest posit

[2020-01-19 14:07] swharden commented on #187
Hi @gobikulandaisamy,

With 2ec076876e6f803a501173ee96899dd0eb6bf5d8 I have made the WinForms and WPF user control cursors customizable.

You can customize the user control cursor like this:
[code]

[2020-01-19 14:22] swharden commented on #187
Hi @gobikulandaisamy,

With e99ac2f008d081077e2ef957973a3d5da4f49066 user controls now have a `mouseCoordinates` property. Rather than make `mouseLocation` public and add methods to the settings module, this results in a much simpler way to get X/Y position of the mouse.

[code]

[2020-01-19 14:25] #187 closed

[2020-01-19 14:41] gobikulandaisamy commented on #187
Dear Scott W Harden

Thank you so much for your reply and updates

By
GOBI.K

On Sun, Jan 19, 2020 at 7:55 PM Scott W Harden <notifications@github.com>
wrote:

--
Thank You,
Regards,

K.Gobi

[2020-01-19 15:13] gobikulandaisamy commented on #187
Dear Scott W Harden

I checked in Nuget. No updation available. Last updates 4.0.10.0 only
available.

By

GOBI.K

On Sun, Jan 19, 2020 at 8:11 PM Gobi Kulandaisamy <gobi.kuna@gmail.com>
wrote:

--
Thank You,
Regards,

K.Gobi

[2020-01-19 15:26] swharden commented on #187
Hi @gobikulandaisamy, these changes have been made to the source code are ready to use if you download ScottPlot from GitHub.

I probably won't publish a new NuGet package until next weekend, but when 4.0.11 is published on NuGet it will contain these updates.

[2020-01-19 16:14] gobikulandaisamy commented on #187
Dear Scott W Harden,

Thank you for your reply.

By
Gobi.K

On Sun, Jan 19, 2020 at 8:56 PM Scott W Harden <notifications@github.com>
wrote:

--
Thank You,
Regards,

K.Gobi

[2020-01-19 19:04] swharden commented on #187
@gobikulandaisamy actually, I just uploaded ScottPlot 4.0.11 to NuGet.

I wrote a script to automate the process of building packages and uploading them to NuGet, so hopefully it will make it easier for me to quickly publish code changes on NuGet in the future.

Thanks again for your contributions!

[2020-01-19 22:32] swharden commented on #209
I ended up not using an interface for `IParallelable` because `useParallel` is an instance variable and it seems fine to set in the base class.

It's the abstract methods I really wanted to avoid forcing children to implement if it didn't make sense.

line and marker styles should be there because that's what's used to draw their representative symbols in the legend.

[2020-01-19 22:32] #209 closed

[2020-01-20 01:04] Hexxonite opened #211 "improve support for Linux and macOS"
Hi there,

I was trying to get this Library working under a .net core 2.1 app on my ubuntu 18.04 server.
During this process I was getting some weird errors which were eventually boiled down to being the exact same issue like [THIS](https://stackoverflow.com/questions/49453681/net-core-using-system-drawing-common-on-linux-in-docker-could-not-open-disp)

On this line: https://github.com/swharden/Sc

[2020-01-20 13:24] StendProg commented on #211
Gfx object you point used only for `MeasureString()`. I think it safe to make replacement you suggested.

Does Azure piplines use Windows instances to run tests? Its good improvement to setup additional Linux based pipeline for test, to avoid problems like this issue.

[2020-01-20 16:05] Hexxonite commented on #211
Hi again and Thanks for the quick response :)

The method you proposed is working fine, however I encountered another error where the "Segoe UI"-Font wouldn't be found. So I created a Helper-Class to check if any preffered defaults exist on the system and replaced the static strings in some cases.

During this I also encountered the "CourierNew" Font being used in some cases by "markers"? But I pe

[2020-01-20 16:13] swharden commented on #211
Hi @Hexxonite, thanks for reporting this and issuing a PR. I'll refine the PR a bit then merge it in today.

@StendProg thanks for your early reply. Azure Pipelines is just building on a Windows system, but I'll add Linux to it today and ensure ScottPlot builds and tests pass.

The Azure Pipelines configuration file is: [/dev/devops/azure-pipelines.yml](https://github.com/swharden/ScottPlot/blob/m

[2020-01-20 17:19] swharden opened #213 "second Y axis"
I frequently get new requests to add support for a second Y axis. This topic has been raised before (#162, #41). This feature will probably require refactoring of many modules, but it's probably worth it.

QuickPlot can do this. https://github.com/swharden/QuickPlot/issues/12

[2020-01-20 17:23] swharden opened #214 "restrict zoom/pan to a single axis"
Consider extending the Configure() method of the user controls to allow the user to restrict zoom/pan to a single axis. The easiest way to implement this is to simulate CTRL or ALT always being pressed.

https://github.com/swharden/ScottPlot/blob/408c5a7b0924905fc5d6aec323d0d8316cb955ca/src/ScottPlot.WinForms/FormsPlot.cs#L75-L81

This request came from Moni.

[2020-01-21 00:34] swharden commented on #211
fixed, see notes in #212

[2020-01-21 00:34] #211 closed

[2020-01-21 01:29] swharden opened #215 "add quickstart programs to azure pipelines"
to ensure they keep working with the latest ScottPlot packages available on NuGet

[2020-01-21 06:28] MoniNahear commented on #213
I think the zooming/pen for this case should be common to the X axis and separated for the Y Axis

[2020-01-22 00:51] swharden commented on #215
done

https://github.com/swharden/ScottPlot/blob/6db6ad3e31b2a3410ea46d9f69f7a6278b1cda03/dev/devops/azure-pipelines.yml#L1-L73

[2020-01-22 00:51] #215 closed

[2020-01-22 11:28] gobikulandaisamy commented on #187
Dear Scott W Harden,

In Settings.cs
you are using following function
        public PointF GetLocation(int pixelX, int pixelY)
        {
            // Return the X/Y location corresponding to a pixel position on
the figure bitmap.
            // This is useful for converting a mouse position to an X/Y
coordinate.
           * double* locationX = (pixelX - dataOrigin.X) / xAxisScale +
axes.x.min;

[2020-01-22 23:12] ckovamees opened #217 "MatchAxis with vertical:false not scaling"
Thanks for a great project, I'm just starting to use it.

I'm using `MultiPlot` (in lieu of QuickPlot's `secondY: true`) and want to have similar X-axis (dates), but let the Y-axis represent different data, with different scale.

I'm use 'Cookbook.Figure_73_Multiplot()' to reproduce and illustrate here.
If I add `vertical:false`, like this
`plt.subplots[2].MatchAxis(plt.subplots[3], vertical:false

[2020-01-23 16:03] StendProg commented on #217
Hi @ckovamees.
It looks like you want to call `MatchAxis()` for  `X` axis only, and get `AutoSize()` for `Y` axis only.(Don't clearly understand).
You can add to your code:
[code]
And some investigation shows what it actualy call `Settings.AxisAuto()` with correct `yExpandOnly = true`

Problem is that using this `xExpandOnly` or `yExpandOnly` params not implemented in `Settings.AxisAuto()`.
https:

[2020-01-23 16:17] ckovamees commented on #217
Thanks for your clarification @StendProg. I'm still trying to catch up on the code and don't completely get everything you mention.

So the call `MatchAxis(otherplot, vertical:false)` isn't supposed to make the vertical axis auto size? I didn't understand that and that I had to call `AutoY()` explicitly.

When I was playing with this I also noticed that if I called `Ticks()` before `MatchAxis(othe

[2020-01-23 17:00] StendProg commented on #217
[code]
Can solve this issue without any source changes.

For every plot `AutoAxis()` called automatic before render if axises not set manual. This issue because `MatchAxis()` set axis limits manual, and `AutoAxis()` not called.

Possible improvement of library:
 - `AutoAxis()` must check each axis manual setup separate, and rescale axis with no manual setup (`Y`  in this issue example).

Anyway no

[2020-01-24 00:47] swharden commented on #217
Hi @ckovamees thanks for reporting this!

@StendProg, thank you for your excellent suggestion as well! Your idea to manually call `AutoAxis()` _before asking to match the axis_ solves this problem.

The simplest way to fix this is for me to add code to `MatchAxis()` to determine if the axis has been set previously, and if not it will call `AutoAxis()` automatically before attempting to match the a

[2020-01-24 00:57] swharden commented on #217
It looks like that did the trick! a4d5df2c4e2c867078179849313ad28148b3ddd0

I'll publish this on NuGet then close this issue. Thanks again for both of your help!

![image](https://user-images.githubusercontent.com/4165489/73036725-7a4a8f80-3e1a-11ea-887c-b05276c5d512.png)

[2020-01-25 00:10] #217 closed

[2020-01-25 00:43] swharden commented on #217
@StendProg this is an interesting suggestion! Instead of adding multiple arguments to `AxisAuto()`, would `AutoAxisX()` and `AutoAxisY()` be simpler?

---

Also, I don't have your email address so I'll mention a couple topics here I thought you'd find interesting. If you have questions you are welcome to email me (swharden@gmail.com) or we can continue to converse here.

* I'm working to fully rep

[2020-01-27 01:00] swharden opened #220 "add "copy to clipboard" options to user controls"
- [ ] add _copy image to clipboard_ option to the right-click menu
- [ ] add _copy all data to clipboard_ button to the settings dialog
- ~~add _copy visible data to clipboard_ button to the settings dialog~~ Too complicated for an unclear use case. This can be added later if truly desired.

[2020-01-27 07:57] bukkideme commented on #220
Hello! What will be copied to clipboard? The whole data range, or the visible section like when the plot is zoomed in?
It would be handy to have option to only copy the visible data range.
Thanks for your efforts! :)

[2020-01-28 00:10] swharden commented on #220
I was actually thinking the image (Bitmap) would get copied, but maybe we could also add data export options.

Maybe both?

The best place to do this may be to add "copy to clipboard" buttons here:
![image](https://user-images.githubusercontent.com/4165489/73224781-9a3ec380-4138-11ea-8ccd-47848dddf9c7.png)

[2020-01-28 13:17] teejay-87 opened #221 "Is there any way to have only integer Y axis?"
Is there any way to have only integer Y axis?

Note that bars with value = 0.05 have that value instead of 0 just to show a small bar instead of nothing.

![image](https://user-images.githubusercontent.com/17051981/73267167-c01ba500-41d8-11ea-8983-3dc9cbe0424d.png)

[2020-01-28 13:21] swharden commented on #221
Sort of...

[code]

https://github.com/swharden/ScottPlot/tree/master/cookbook#manual-grid-spacing

Let me know how that works for you!

[2020-01-28 13:26] teejay-87 commented on #221
Already tried that. Nothing changes.

My code:
`
var startDate = DateTime.Now.AddDays(-6).Date;
var data = Database.GetRebootEventsTable().Where(e => e.Date >= startDate).ToListAsync().Result;

var y2max = 2D;
var plt = new ScottPlot.Plot(800, 500);

double[] xs = Enumerable.Range(1, 7).Select(i => i * 10.0).ToArray();
DateTime[] xDates = Enumerable.Range(0, 7).Reverse().Select(i => DateTime.Now.A

[2020-01-28 13:39] swharden commented on #221
Thanks for reporting this @teejay-87! This was a bug on this line:

https://github.com/swharden/ScottPlot/blob/44e0b2c78b59e738f30de3925be8eb69374a700f/src/ScottPlot/Config/TickCollection.cs#L128

I fixed the bug just now with ab7a12c68d4056a304e17795daaa7066430d4c71 and will release a new NuGet package now. It should be live within half an hour. Thanks for reporting this!

[2020-01-28 13:39] #221 closed

[2020-01-28 14:00] teejay-87 commented on #221
Works fine, thanks for fixing that!

[2020-01-28 15:26] ckovamees opened #222 "Disabling X & Y Label not working"
It seems like the `enable` parameter on the XLabel() and YLabel() methods aren't implemented.

To reproduce, add enable: false like this to Cookbook.cs Figure_01a_Quickstart():
`plt.XLabel("Time (seconds)", enable: false);`

[2020-01-28 16:29] swharden commented on #222
Hi @ckovamees thanks for reporting this!

It converts `enable` to `settings.xLabel.visible` here:
https://github.com/swharden/ScottPlot/blob/b15f2e670723db26b09b6cebcf5b0a0aba74386b/src/ScottPlot/Plot.cs#L840-L857

... but `settings.xLabel.visible` is indeed being ignored here:

https://github.com/swharden/ScottPlot/blob/115fa516c28113eac55b29ff76595c0e6127383f/src/ScottPlot/Renderer.cs#L122-L129

[2020-01-28 18:40] ckovamees commented on #222
Thanks Scott.
`XLabel("")` worked while using `null` didn't.

[2020-01-28 18:43] ckovamees opened #223 "show ticks but not tick labels"
Is there a way to disable the ticks values from being displayed on an axis? I just want the ticks, but not the numbers.

I tried
`plot.Ticks(dateTimeX: true, displayTicksX: false);`
But the Dates still show up on the X-axis.

Thx

[2020-01-29 01:20] swharden opened #224 "Create tests for every argument of every Plot method"
The ScottPlot API has been stable for several months now. Let's add tests for ***every argument*** of all public methods in the Plot module. This will help us spot arguments with broken implementation (e.g., #222) and also aid to lock-in this API.

Collectively this task seems overwhelming, but individually each of these functions is pretty simple. I'll probably slowly work through this list by si

[2020-01-29 03:44] swharden commented on #222
As you can see by all the commits, this issue wasn't easy to fix (in a way that supported Windows, MacOS, and Linux) but it's working now. It'll get released with my next NuGet package. Thanks again for raising this issue @ckovamees!

This issue inspired me to thoroughly test every argument of every publicly accessible method (#224).

@StendProg I heavily refactored [Fonts.cs](https://github.com/s

[2020-01-29 03:44] #222 closed

[2020-01-29 18:56] ckovamees opened #225 "Correct way of getting max/min of rendered axis?"
Sorry for bombarding you with questions - but, I really like how easy it is to create great looking graphs with ScottPlot!

I use `Settings settings = MultiPlot.subplots[0].GetSettings();` to get the `settings.axes.y.max` and the min values. I use the data for some math to determine what side of a line to put some text. I get this on the console:

Is there another way to get to the max and min tic

[2020-01-29 19:03] swharden commented on #225
[code]

Alternatively, you could ask each plottable object how large it is by either capturing the plottable when you create it and asking:

[code]

Or cycling through all the plottables with `plt.GetPlottables()` and doing the same thing.

Does this help answer your question?

[2020-01-29 19:04] swharden commented on #225
... note that the view limits aren't fitted to the data until a render is requested or AxisAuto() is called

[2020-01-29 22:27] ckovamees commented on #225
Yes, thank you. The plt.Axis() works.

[2020-01-29 22:27] #225 closed

[2020-02-01 10:11] lihongfang16 opened #227 "Render on bitmap ?"
why you choose plot render on bitmap instead of Graphic.Draw()

[2020-02-01 12:05] StendProg opened #228 "AxSpan draggable not implemented"
It looks like `PlottableAxSpan` has draggable api, but not implemented.
Additionaly it will be usefull to have `OnChanged(double newValue)` events for both borders, which rises on end drag by user.

[2020-02-01 22:59] swharden commented on #227
Hi @lihongfang16, I'm not sure I fully understand your question.

If you want to get a Bitmap (instead of saving one) call `GetBitmap()`;

[code]

[2020-02-01 22:59] #227 closed

[2020-02-02 00:19] swharden commented on #228
Thanks for mentioning this @StendProg! It looks like there is not an easy fix for this because all my draggable code was made to drag a single line (axis line), not two edges of a span... so it is difficult to get this working with a simple fix.

This difficulty indicates to me that I should refactor how all dragging is handled. I think it is time to create an `IDraggable` interface. It might take

[2020-02-02 13:56] swharden opened #229 "remove lineStyle switches from plottables"
Switch statements are like the Sith; always more than one there are.

[2020-02-02 16:23] swharden opened #230 "improve axis line and span GetLimits()"
Currently axis lines and spans report their limits like this:

https://github.com/swharden/ScottPlot/blob/2fa71858df96154e6929ebb4b0db84edfb9a1050/src/ScottPlot/plottables/PlottableAxLine.cs#L69-L72

... but I think reporting real limits (using `double.NaN` for the unused axes) is best here. Otherwise we have to `if` elsewhere ...

[2020-02-02 17:29] swharden commented on #228
This now works in FormsPlot and WpfPlot

New draggables (draggable plottables) will be easy to create with `IDraggable`
https://github.com/swharden/ScottPlot/blob/dff32dd829b44fd2f25b21015de64495c3dd6ce5/src/ScottPlot/plottables/IDraggable.cs#L7-L17

The plot module now has two new public methods:
https://github.com/swharden/ScottPlot/blob/dff32dd829b44fd2f25b21015de64495c3dd6ce5/src/ScottPlot/Plo

[2020-02-02 17:47] #214 closed

[2020-02-02 18:13] swharden commented on #220
![image](https://user-images.githubusercontent.com/4165489/73612852-95a55f80-45bd-11ea-8f6c-591d56e6df27.png)

![image](https://user-images.githubusercontent.com/4165489/73612870-bd94c300-45bd-11ea-86e5-d84ad5ca0c43.png)

[2020-02-02 18:14] #220 closed

[2020-02-02 18:32] swharden commented on #223
Thanks for the suggestion! I added arguments to Ticks() to do this. This will be live on NuGet later today.

[code]

![image](https://user-images.githubusercontent.com/4165489/73613086-15ccc480-45c0-11ea-83d8-e3274587c593.png)

[2020-02-02 18:32] #223 closed

[2020-02-02 18:57] #229 closed

[2020-02-02 23:10] #230 closed

[2020-02-03 13:29] StendProg commented on #228
Hi @swharden.
Thanks for this big amout of work.
I checked this, have some ideas that to add and refactor. Try to make this soon.
There are one thing i really can't solve. Dragging axises or spans looks much more laggy then paning. Check the code, it have the same math complexity. Profiled, also nothing specal. But dragging goes like 3 fps, when pan or zoom goes smooth.

[2020-02-03 13:47] swharden commented on #228
Maybe anti-aliasing isn't turned off while dragging portables?

[2020-02-03 14:09] StendProg commented on #228
I tryed that too, the same result.

[2020-02-03 14:26] StendProg commented on #228
Found that,
https://github.com/swharden/ScottPlot/blob/334f93dec027cd8d950bc63561f0925612d7e3c1/src/ScottPlot.WinForms/FormsPlot.cs#L57
shoud be
[code]
Spent few hours try to find that....

[2020-02-03 14:27] swharden commented on #228
We should properly alias while dragging

https://github.com/swharden/ScottPlot/blob/334f93dec027cd8d950bc63561f0925612d7e3c1/src/ScottPlot.WinForms/FormsPlot.cs#L216

Like we do while panning

https://github.com/swharden/ScottPlot/blob/334f93dec027cd8d950bc63561f0925612d7e3c1/src/ScottPlot.WinForms/FormsPlot.cs#L207

[2020-02-03 18:45] StendProg opened #232 "Horizontal line draw in low quality bug."
Draw horizontal line with disabled antialiasing produce strange effect.
![HorizontalBug](https://user-images.githubusercontent.com/53831487/73680930-531f7800-46ce-11ea-8e2b-f004995ea2e8.png)

[2020-02-03 23:06] swharden commented on #232
So weird! 🤣 This seems to be a bug in `System.Drawing.Graphics.DrawLine()` that causes an artifact when non-anti-aliased lines are drawn off the screen to the right. I can fix it by restricting the horizontal line slightly.

[2020-02-03 23:06] #232 closed

[2020-02-03 23:07] #228 closed

[2020-02-03 23:08] swharden commented on #232
... I am curious if this bug can be recreated using a scatter plot with perfectly horizontal lines. If it is, since the bug is in `System.Drawing.Graphics`, there might not be much we can do to fix it

[2020-02-06 07:29] bukkideme opened #235 "After latest update no more FormsPlot.mouseCoordinates method available"
Hello!

The latest nuget update broke one of my code part:
[code]

[2020-02-06 12:34] swharden commented on #235
@bukkideme thanks for noting this!

The last update refactored how mouse tracking is accomplished and removal of this line is what broke your code:
https://github.com/swharden/ScottPlot/blob/d12189309d7ca40ea9881e830e3af3ab2e7fc43b/src/ScottPlot.WinForms/FormsPlot.cs#L96

I'll add this back in. In the mean time, you could get your code working by changing your line to:
[code]

[2020-02-06 12:42] swharden commented on #235
Just released ScottPlot 4.0.17 on NuGet. It should be live shortly! Let me know if this doesn't do the trick. Thanks again @bukkideme

[2020-02-06 12:42] #235 closed

[2020-02-06 12:46] swharden commented on #213
I added this to the ScottPlot 4.1 branch feature list:
https://github.com/swharden/ScottPlot/blob/master/dev/changelog.md

[2020-02-06 12:46] #213 closed

[2020-02-06 12:47] swharden commented on #213
I mean https://github.com/swharden/ScottPlot/blob/dev/4.1/dev/changelog.md

[2020-02-06 12:49] swharden commented on #224
I added this to the ScottPlot 4.1 branch feature list and will track it there:
https://github.com/swharden/ScottPlot/blob/dev/4.1/dev/changelog.md

[2020-02-06 12:49] #224 closed

[2020-02-06 14:13] bukkideme commented on #235
Thanks it works again!

[2020-02-06 14:18] teejay-87 opened #236 "add ability to set culture at the Plot level"
Is there a way to have date ticks with different culture notation?

I currently change the culture of current thread, but that's not a best approach for sure:

[code]

[2020-02-06 14:57] swharden commented on #236
Hi @teejay-87, there's not currently a way to do that but adding a way would be a good idea! A way to set the culture at the plot level would be nice to set date format and numerical format of tick labels.

I'll add this shortly. Thanks for the idea!

[2020-02-06 15:41] swharden opened #237 "launch an interactive plot without creating a GUI for it"
After creating a plot:

[code]

It would be nice if you could launch a launch a data browser window using a one-line command without actually having to create a window and add a user control... something like:

[code]

The code could live in extension methods packaged in the user control modules.

[2020-02-06 18:28] StendProg commented on #237
Simpe way, but not interactive is render to bitmap and set it to new `Form.BackgroundImage`

[2020-02-06 19:43] swharden opened #239 "create a tool to run cookbook examples interactively"
Figure out a way to run all cookbook examples in a FormsPlot and WPF plot. Not only is this useful for testing interaction and user controls, but it will also be useful for testing Skia when that day comes.

Suggested by @StendProg in #237

[2020-02-06 19:43] swharden commented on #237
True, but that would require a Form to already be open. What I want to do is have `plt.LaunchFormsPlot()` to create a new Form, programmatically add a `FormsPlot`, set the dock to full, then launch the form with `ShowDialog()`. Perhaps an argument could control if non-blocking `Show()` is used instead.

This would make it easy to pop-up an interactive data plot from a console application.

This is

[2020-02-06 20:07] StendProg commented on #237
Going this way you get right result, but this is not so simple.
You need to inject or sync existing `plot` with `FormsControl.Plot`.There are a lot possible side effects.
To avoid that, good way is add additional `FormsControl` constructor accepting plot as argument. In this constructor repeat all code instead of creating new plot.

[2020-02-06 20:13] swharden commented on #237
This is an interesting idea! I think I understand it properly... it would let the user do something like this to launch their plot in a mouse-interactive window:

[code]

[2020-02-06 21:09] StendProg commented on #239
I will try to explain:
I rebased `SkiaControl` branch to `master` last weekend. After solving a lots of merge conflicts and compiler errors, it's good idea to test library in different modes. Cookbook already render a lot of different modes, but in offscreen to bitmap using GDI. It's easy and fast to check with eyes possible render artifacts just by scrolling generated cookbook.
This is for incomp

[2020-02-07 01:25] swharden commented on #239
I am so impressed! That sounds like a lot of work.

I agree this could be simple, but I've wanted to make an interactive cookbook for a long time. Many graphing library demos are like this - they have a ComboBox of demos on the left and every time you click one it plots on the right. I won't remove the current GDI method (it's great for automated tests and generating the cookbook webpage), but I'd

[2020-02-07 01:25] #239 closed

[2020-02-07 03:18] swharden commented on #236
This is what I came up with. Thanks for the suggestion @teejay-87!

I'll close this ticket when it's updated on NuGet

[code]

![image](https://user-images.githubusercontent.com/4165489/73997889-dab6f200-492d-11ea-8284-7104a325d686.png)

[code]

![image](https://user-images.githubusercontent.com/4165489/73997922-e60a1d80-492d-11ea-9eb4-39aa8c5b7158.png)

[2020-02-07 03:32] swharden commented on #236
Just pushed 4.0.18 to NuGet, it should be live a few minutes from now.

Let me know if this doesn't do the trick!

[2020-02-07 03:32] #236 closed

[2020-02-07 03:59] swharden commented on #237
I'm surprised I never thought of this before! Users can create plots and interactively launch them without ever having to design a GUI themselves. This could get interesting 🤔

[code]

![image](https://user-images.githubusercontent.com/4165489/73999861-10f77000-4934-11ea-92b7-bc129a8c8b9e.png)

[2020-02-07 04:00] swharden commented on #237
I'll keep developing this as part of 4.1 (it's not really an issue)

[2020-02-07 04:00] #237 closed

[2020-02-07 10:08] teejay-87 commented on #236
Thanks, I'll try it in the next days

[2020-02-07 13:44] swharden opened #240 "warn if multiplot is used in a control"
A multiplot

[2020-02-07 13:46] swharden commented on #240
EDIT: I don't think it's even possible to use a multiplot in a control, so no problem here

[2020-02-07 13:46] #240 closed

[2020-02-08 19:39] swharden opened #241 "use demands to select OS for azure pipelines"
https://docs.microsoft.com/en-us/azure/devops/pipelines/process/demands?view=azure-devops&tabs=yaml

because this is ugly
https://github.com/swharden/ScottPlot/blob/6c2bb50cfa6f7caef2d08983003da1158ac5addc/dev/devops/azure-pipelines.yml#L42

[2020-02-08 19:52] StendProg commented on #239
I solved my problem with reflection as you mentioned.
Winforms demo running on `SkiaControl` is more usefull for tests then cookbook.
Single replacement of `fomsPlot = new FormsPlot();` with `formsPlot = new FormsPlotSkia();` for each demo `Form` do the trick.
If you are interested in details: https://github.com/StendProg/ScottPlot/blob/SkiaControl/dev/ScottPlotSkia/WinformsSkiaDemosLauncher/Progr

[2020-02-08 20:20] swharden commented on #241
abort! these goes in the pool, not tasks

[2020-02-08 20:20] #241 closed

[2020-02-08 22:49] Resonanz opened #242 "Fix cookbook SaveFig() and create Multiplot.GetSubplot()"
One small issue is an error I get using the "Multiplot" demo code on [this](https://github.com/swharden/ScottPlot/tree/master/cookbook) page is that `plt.Save` results in the compiler saying that there is no definition or methods for `Save`. `SaveFig` does the job, but does not provide an overload to pass the plot dimensions. The dimensions are instead defined when the new `plt` object is created.

[2020-02-08 23:35] swharden commented on #242
Thanks @resonaz! I'm on a phone so I'll be brief

The Multiplot() constructor has arguments for size

I'll take a closer look at the broken Save()

[2020-02-09 00:08] StendProg commented on #242
If I cleary understand, there are 2 problems:
- ~~Multiplot~~ All cookbook code examples contain not existing `plt.Save()`.`plt.SaveFig()` actualy used to render cookbook examples.
- There is no API for save some single plot from `MultiPlot`.

@Resonanz, you can save single plot from multiplot by calling:
[code]
`row` and `col` - row and column of plot to save.

As @Resonanz  point `SaveFig(string

[2020-02-09 16:25] swharden commented on #242
Wow! That's been overlooked for the last few months. Thanks for noticing that! It should be fixed now

Thanks @StendProg, that is an excellent way to address a subplot of a multiplot by its column and row index.

@StendProg yes, but only for saving. Perhaps adding a `Plot GetSubplot(int row, int column)` would be more flexible as it lets the user do more things such as:

[code]

What do you think?

[2020-02-09 16:36] swharden commented on #242
I went ahead and added the `GetSubplot()` function and updated the cookbook to use it:
https://github.com/swharden/ScottPlot/tree/master/cookbook#multiplot

@StendProg what do you think?

https://github.com/swharden/ScottPlot/blob/638acf305ac04b67f4878a05fc38d4af8bcbf858/src/ScottPlot/MultiPlot.cs#L85-L100

[2020-02-09 19:32] StendProg commented on #242
Indexing starting at 1 looks unusual for c# users.

More perfect and simple solution is to store subplots at rectangle array initially.
[code]

Multiplot indexer overload can produce simple API:
[code]
Not sure double indexer overload possible.

[2020-02-10 06:25] Benny121221 opened #244 "Add support for box plots"
The statistics plot options are currently pretty limited. Box plots could change that.

https://www.isixsigma.com/wp-content/uploads/2019/07/Box-Plot.gif

^Example in case you aren't familiar

[2020-02-10 13:04] swharden commented on #244
@Benny121221 this is an excellent idea!

https://en.wikipedia.org/wiki/Box_plot

The PlottableBar could be modified to create a PlottableBox

https://github.com/swharden/ScottPlot/tree/master/cookbook#plot-bar-data

We could also add tools to the statistics module to turn a double arrays into the various box components. One thing to keep in mind is that many people use boxes to show quartiles, but

[2020-02-10 18:54] StendProg opened #245 "create tests to assess thread safety"
`Settings.GetPixel()` and `Settings.GetLocation()` are not thread safe.
This break `Signal` and `SignalConst` parallel render.
This methods use `xAxisScale` and `yAxisScale`, and they reference to `Bitmap`(bmpData). Bitmap class not thread safe.
Will it possible to make xAxisScale regular field, and update it then bitmap size actually changed?

Additionaly it will be usefull to have some `GetPixel

[2020-02-10 21:03] swharden commented on #245
Yes, I can make this change!

Do you think you can make a multi-threaded test which fails so I can be confident that my fix is successful? I don't know much about threading so I'm not sure how difficult this is...

Good idea - I'll do this as well.

[2020-02-10 22:02] StendProg commented on #245
Existing `RenderHighDensityParallel` throws on bitmap access. Good idea to add tests, but I can do it only tomorrow.

[2020-02-10 22:58] #242 closed

[2020-02-10 23:00] swharden commented on #242
@StendProg done!

I won't do the rectangular array because I want to make it slightly easier to support non-rectangular layouts if we decide to in the future. GetSubplot() will be easy to overload to add advanced features like this.

Thanks for both of your help on this one! I'll release the next version on NuGet shortly

[2020-02-10 23:04] swharden commented on #245
Thanks for looking into it @StendProg! Take as long as you need.

This is why I disabled `useParallel` (#72) by default. If we get good at writing tests to prove things are thread safe I'd be happy to turn this back on.

I'm working hard on ScottPlot (in the dev branch) to remove `System.Drawing` from ScottPlot. Once that's finished we can be more confident everything is thread safe! It might take

[2020-02-10 23:17] swharden commented on #245
Good idea @StendProg - I made those functions. I also added GetLocationX() and GetLocationY().

I look forward to learning what you discover about testing thread safety!

[2020-02-11 01:01] Benny121221 commented on #244
#246

[2020-02-11 01:40] swharden commented on #244
### I created `ScottPlot.Statistics.PopulationStats()`
to make it easy to get min, max, mean, median, standard deviation, standard error, etc.

https://github.com/swharden/ScottPlot/blob/ade0446036fb4d814d49d4d4aff8b938b2e9ce81/src/ScottPlot/Statistics/PopulationStats.cs#L8-L58

### I created `ScottPlot.Statistics.BoxAndWhisker`
it is similar to OHLC. You're intended to build them and pass an arra

[2020-02-11 02:06] swharden commented on #244
@Benny121221 did an awesome job with #246! I modified the interactive demo to showcase both of our plottables. I'm impressed there were no merge conflicts even though we both did the same thing at the same time 😎

![image](https://user-images.githubusercontent.com/4165489/74206134-0dbbf700-4c48-11ea-860c-94e4030b67e8.png)

### Using Scott's Version
https://github.com/swharden/ScottPlot/blob/aad447

[2020-02-11 02:17] Benny121221 commented on #244
When using boxwhisker plots to show quartiles, it is common to extend the whiskers only to 1.5 * IQR, and to plot any points outside of that as either dots or asterisks. This 1.5 * IQR rule is a simple rule for detecting outliers.

It looks like your code draws the whiskers out to the most extreme point, which is another common way of drawing these plots. I think this should probably make its way

[2020-02-11 02:21] swharden commented on #244
@Benny121221 I'd really like to use the math you cane up with here:

https://github.com/swharden/ScottPlot/blob/aad44762d282d24d6d7e49e74ccf9c04c3f23f40/src/ScottPlot/plottables/PlottableBoxAndWhiskerV2.cs#L79-L90

What do you think about moving it into the population stats module?

https://github.com/swharden/ScottPlot/blob/aad44762d282d24d6d7e49e74ccf9c04c3f23f40/src/ScottPlot/Statistics/Populat

[2020-02-11 02:23] Benny121221 commented on #244
Yeah sure I'll have a crack at it

[2020-02-11 02:29] swharden commented on #244
Sounds great! I look forward to seeing what you come up with!

Right now that method is in `FormBoxWhisker.cs`... but it seems like code that builds `BoxAndWhisker` objects from `double[]` data might be good static methods in a `ScottPlot.Statistics.BoxAndWhiskerFactory` static class 🤔

[2020-02-11 03:07] Benny121221 commented on #244
#247

[2020-02-11 16:21] StendProg commented on #245
PR #248 add tests to assess thread safety.

[2020-02-11 19:47] swharden opened #249 "demonstrate how to create and load custom plottables"
It should be possible to create a new custom plottable, add it to the list, and have it plotted on ScottPlot ***without changing any ScottPlot code***. Create a demo program which shows how to do this.

The Plot module lets me get the list of plottables. I should be able to just add my custom plottable to this list and it will appear.

https://github.com/swharden/ScottPlot/blob/aad44762d282d24d6d7

[2020-02-11 20:33] swharden commented on #245
Almost... #248 fails tests on Linux due to some type of infinite loop. Any thoughts on how to fix this?

🤣

[2020-02-12 01:35] swharden opened #250 "add PlotFunction to demos and cookbook"
- [ ] cookbook example
- [ ] add an example to the WinForms demo
- [ ] add an example to the WPF demo

EDIT: initially discussed in #243

[2020-02-12 01:39] swharden opened #251 "add BoxAndWhisker to demos and cookbook"
to demonstrate how to use new features PR #247
- [ ] WinForms demos
- [ ] cookbook
- [ ] create unit tests to test various data inputs
  - [ ] passing in null
  - [ ] array with 0 data points
  - [ ] array with all 1s (no variability)
  - [ ] array containing double.NaN

[2020-02-12 01:43] swharden opened #252 "improve tests for parallel processing"
This discussion arose in #248

Currently parallel processing can be tested on Windows and MacOS but fails on Linux

[2020-02-12 01:43] swharden commented on #252
oops, duplicate (#248)

[2020-02-12 01:43] #252 closed

[2020-02-12 04:49] StendProg commented on #245
It stacked at .net package rebuilding. I think simple pipline restart solve problem.

[2020-02-12 15:57] swharden commented on #245
You're right - I just re-ran the build and it passed. Thanks @StendProg!

[2020-02-12 15:58] swharden commented on #245
merged #248

[2020-02-12 15:58] #245 closed

[2020-02-14 16:30] leifhelm opened #254 "Windows scaling bug"
When viewing a plot on a display with 150% scaling a graph appears but it just covers about half the box. The other half is gray.

[2020-02-14 16:56] swharden commented on #254
Hi @leifhelm, I'm using 150% display scaling and the demo plot looks good to me

scaling settings | demo program
---|---
![image](https://user-images.githubusercontent.com/4165489/74551294-e8b5d580-4f20-11ea-8d25-224483d9b8c1.png) | ![image](https://user-images.githubusercontent.com/4165489/74551247-d6d43280-4f20-11ea-8121-a9e0a1bea710.png)

Can you provide a code sample which fails on your machin

[2020-02-14 17:22] ckovamees opened #255 "Shade area in-between curves"
Hi Scott,
Amazing activity in this project. If you ever lack things to do here is a feature request.... :-)

For my hobby project I would find it useful to render an area between curves in a light shade of green or red/or any other color for that matter.
![image](https://user-images.githubusercontent.com/9557072/74552681-c1acd300-4f23-11ea-91d3-69d7176f24cd.png)

_Edited by Scott to add todo list:

[2020-02-14 18:03] swharden commented on #255
This is an excellent idea @ckovamees. I'll look into it shortly!

- [ ] add arguments to PlotSignal() to support shading under the curve
- [ ] add arguments to PlotSignalConst() to support shading under the curve
- [ ] add arguments to PlotScatter() to support shading under the curve
- [ ] create PlotPolygon() to allow rendering of arbitrary shapes
- [ ] create PlotRectangle() to allow easy outlin

[2020-02-14 19:37] leifhelm commented on #254
Sorry my mistake. Scaling works perfectly

Am 14.02.2020 5:56 Nachm. schrieb "Scott W Harden" <notifications@github.com

[2020-02-14 20:04] swharden commented on #254
Glad it's working for you! 👍

[2020-02-14 20:04] #254 closed

[2020-02-15 09:25] Resonanz opened #257 "programmatically create grid of WpfPlot controls"
Forgive me if I am understanding all the nuances of C# too well, but I would like to use C# rather than XAML to place a LOT of plots on to one canvas AND use WPF rather than the older Windows Forms.

It seems that this would be possible if there was an equivalent to the following for WPF (from the root ScottPlot page):

`pictureBox1.Image = plt.GetBitmap();`

in which case it should be possible to

[2020-02-15 11:19] Resonanz opened #258 "WPF namespace code missing in XAML following install"
Hi Scott, I notice that if I follow the instruction on the Github home page, then the WPF instal does not work as described.

Steps:

1. I start a new .NET Core project, and immediately install the NuGet Scottplot.WPF package.
2. I then add the code `<ScottPlot:WpfPlot Name="wpfPlot1"/>` between the grid tags in my XAML file.
3. I then get the error `The namespace prefix "ScottPlot" is not defined

[2020-02-17 13:02] swharden opened #259 "DataGen.Range()"
Create a function to make it easy to generate a range of numbers with defined spacing.

We can copy the arguments for [numpy.arange()](https://docs.scipy.org/doc/numpy/reference/generated/numpy.arange.html) in Python

[code]

~~It may be useful to mark DataGen.Consecutive() as obsolete...~~
_EDIT: let's keep Consecutive() because it's more useful than Range() when the goal is to quickly create an

[2020-02-17 16:56] SoManyUsernamesTaken opened #260 "add support for stacked bar plots"
I noticed PlottableBar implements an (effectively) unused, unexposed baseline (currently a single float). I want to plot stacked bars (e.g. bar 1 is from 0 to 2 and bar 2 is from 2 to 5). It is possible to get acceptable behavior for doing stacked bars in many cases with the current interface, however not in all (and in particular not in mine). Would you consider exposing an optional argument whic

[2020-02-17 17:04] gobikulandaisamy opened #261 "compatibility with Visual Studio 2015"
Dear Sir,
I am Trying Nuget Installation of ScottPlot in Visual Studio 2015. It is giving error.
So that I consider Scott Plot is not supporting Visual Studio 2015.
Is it possible to support with Visual Studio 2015?

GOBI.K

[2020-02-19 00:58] Benny121221 commented on #261
It would be helpful if you were to say the text of the error you are receiving, because there is no way for me to help other than to guess what your issue might be. I am not clear if the error message said it was a compatibility error, or if you have deduced that it is most likely to be a compatibility error. For VS 2015 and before, Nuget needs to be installed as an extension, it doesn't come prei

[2020-02-19 01:41] swharden commented on #261
Thanks for your suggestion @Benny121221!

Yes @gobikulandaisamy, more information about the specific error message is required for us to learn more about this issue. I haven't used Visual Studio 2015 before, so I'm relying on your description of the problem (including steps I can employ to recreate it) to help me understand what the issue is.

[2020-02-19 01:43] swharden commented on #260
Hey @SoManyUsernamesTaken, thanks for the suggestion! I'll try out a few different implementations and hopefully roll this feature into the main branch within the next few days.

[2020-02-19 01:50] swharden commented on #258
Hi @Resonanz, thanks for mentioning this! I modified the quickstart instructions based upon your suggestion. What do you think of the new instructions?

https://github.com/swharden/ScottPlot/blob/master/README.md#interactive-plot-wpf

[2020-02-19 01:51] #258 closed

[2020-02-19 01:53] swharden commented on #257
Hi @Resonanz, I haven't tried this but I'll look into it shortly! I can create a demo program which demonstrates how to do this.

If you figure this out before I do, let me know (and include the code) and I'll use your findings in the demo.

[2020-02-19 04:52] Resonanz opened #262 "Improve WPF Quickstart instructions"
Hi Scott, #258 has disappeared so I have started another issue to reply to your question.

You added the following to the README... and asked for my comments..... I think kinda a bit unclear so will have a go further below....

Original:

Add xmlns:ScottPlot="clr-namespace:ScottPlot;assembly=ScottPlot.WPF" to your Window
Add <ScottPlot:WpfPlot Name="wpfPlot1" /> somewhere in your layout

Suggested

[2020-02-19 04:54] Resonanz commented on #257
LOL, at the mo I have this which works nicely but I'm still working on it:

[code]

[2020-02-19 10:32] gobikulandaisamy commented on #261
Sure Sir. I will post.

[2020-02-19 10:57] bukkideme opened #263 "PlotSignal lineWidth and markerSize"
Hello!

Latest release. I would only like to plot points, and no connecting lines.
Setting lineWidth to zero works for Scatter Plot:
`formsPlot1.plt.PlotScatter(dataRandom3, dataRandom4, lineWidth: 0);`

However, does not seem to work for Signal plotting:
`formsPlot1.plt.PlotSignal(dataRandom3, lineWidth: 0);`
Rendering this plot signal still shows connecting lines.

Thanks for looking into this!

[2020-02-19 11:28] gobikulandaisamy commented on #261
[Scott Plot Compatibility.pdf](https://github.com/swharden/ScottPlot/files/4224775/Scott.Plot.Compatibility.pdf)

[2020-02-19 11:38] gobikulandaisamy commented on #261
Dear Sir,

Please find the attached PDF about that issue.

Also I posted same in https://github.com/swharden/ScottPlot

On Wed, Feb 19, 2020 at 7:11 AM Scott W Harden <notifications@github.com>
wrote:

--
Thank You,
Regards,

K.Gobi

[2020-02-19 11:40] gobikulandaisamy commented on #261
Dear sir,

Please find the attached PDF for that issue.

I posted same in https://github.com/swharden/ScottPlot

On Wed, Feb 19, 2020 at 6:28 AM Benjamin Lehmann <notifications@github.com>
wrote:

--
Thank You,
Regards,

K.Gobi

[2020-02-19 15:52] StendProg commented on #261
I had similar problem with different packages and vs 2015. The reason is that modern nuget packages (.net standart)  not supported in outdated nuget client (imho). The only solution I found was to upgrade the Visual Studio.
You can try to install standalone nuget client and manualy install that packages to your project, but this very uncomfortable. I didn’t even try it.

[2020-02-19 16:12] StendProg commented on #263
Hi @bukkideme . I fix this issue in #264.
There is only one unsolved quession. That to do in `HighDensity` mode. If you disable lines, you see nothing. I prefer stay it as before for `HighDensityMode`.

[2020-02-19 16:24] swharden commented on #262
Thanks for the suggestion @Resonanz! How about this?

### Interactive Plot (WPF)
* Install the `ScottPlot.WPF` NuGet package
* Add the WpfPlot control by modifying your XAML file:
  * Add `xmlns:ScottPlot="clr-namespace:ScottPlot;assembly=ScottPlot.WPF"` to the top section
  * Add `<ScottPlot:WpfPlot Name="wpfPlot1" />` to the layout area
* Add code to the startup sequence of your CS file:
[code]

[2020-02-19 16:26] StendProg opened #265 "Azure Pipelines changed default OSX font (breaking ScottPlot font tests)"
#264 have failed pipeline.
`Test_DefaultFont_MatchesOsExpectations()` failed on MacOs VM.
Maybe its not correct, to check in tests something outside project code.
This test causes a false alarm and will have to be rewritten every time Azure changes the virtual machine setup.

[2020-02-20 00:22] swharden opened #266 "add events to WpfPlot control"
@StendProg made some excellent suggestions in PR #238

The original PR wasn't merged because the modifications were to axis line and span files which had already been deleted (separated into horizontal and vertical files). However these changes should be made again, but more extensively. For example, this dirty block in the FormsPlot control can be greatly improved:

https://github.com/swharden/Sc

[2020-02-20 02:43] swharden commented on #261
![image](https://user-images.githubusercontent.com/4165489/74895633-2a4ee200-5360-11ea-8fc8-c8ef2092ce5b.png)

Wow @gobikulandaisamy, thank you for the extensive doument! It sounds like @StendProg has run into this before and suggests its a NuGet version issue.

Perhaps a solution is to use ScottPlot from source code ([master.zip](https://github.com/swharden/ScottPlot/archive/master.zip)) rather t

[2020-02-20 02:45] swharden commented on #261
You could also try installing ScottPlot version 3.1.6! It supports back to .NET 4.5 and doesn't require System.Drawing.Common

Let us know what you find out!

[2020-02-20 03:01] swharden commented on #263
Hey @bukkideme, I agree this looks odd. I created a test to demonstrate it:

![image](https://user-images.githubusercontent.com/4165489/74896678-e6111100-5362-11ea-87ca-e572a9209465.png)

@StendProg I think I have a solution for high density mode: for each pixel column, expand the min/max to ensure its vertical span in pixels is >= markerSize

What do you think?

[2020-02-20 03:13] swharden commented on #265
Yeah this is SUPER annoying... it looks like "Times" was changed to "Times New Roman" 🙈

I'll probably leave it just to see how often this happens. If it happens frequently, I'll just disable the test.

[2020-02-20 03:16] #265 closed

[2020-02-20 03:18] swharden commented on #257
@Resonanz haha it's a bit lengthy but it sure gets the job done! Thanks for sharing this.

I'm going to close this issue but if you figure out how to do this a bit more elegantly feel free to post your updated code here so others interested in doing the same thing can benefit from what you find.

[2020-02-20 03:18] #257 closed

[2020-02-20 03:50] #259 closed

[2020-02-20 04:16] gobikulandaisamy commented on #261
On Thu, Feb 20, 2020 at 8:15 AM Scott W Harden <notifications@github.com>
wrote:

  Dear Sir,
Thank you very much for your reply.
I will try with Scottplot version 3.1.6

--
Thank You,
Regards,

K.Gobi

[2020-02-20 04:54] StendProg commented on #266
This code use correct pattern. You actually need null check and better place for it is separate method. Many people do this.
But, there is simple trick from John Skeet. Subscribe to event with empty delegate at init. So, you never get null delegate, don`t need for null check and can directly call event delegate from code. Negative side is that this empty delegate invokes each time. This tiny perfo

[2020-02-20 20:09] StendProg commented on #263
Set `pen.lineWidth = markerSize` for `HighDensity` mode can produce the same result without any math. But i afraid it will be look worse.

It's a bit strange then marker's magicaly appear then you zoomed in to `LowDensity` mode, but i already used to it.
Slightly increase `pen.lineWidth` up to `markerSize` then you zoomed in close to `LowDensity` area can produce interesting animation. It must be

[2020-02-20 22:21] Resonanz opened #267 "multiplot user controls"
Hi Scott, I am brain-dumping here in order to both post an idea for your possible future developments, and also to let you know what I am trying to implement in my project.

What I am wanting to do is have about 100 plots in a 10x10 grid. It is quite an overhead to add 100 XAML elements, so thinking that in my dream world I could have one element with some n x m dimensions and margins and padding

[2020-02-20 22:46] swharden commented on #267
I'll give this a shot! It might take a few days until I get around to it, but I'll leave this ticket open until I create a demo application showing how to do this (assuming I can figure it out).

Curiously, what are you using 100 interactive plots for? Are you writing software for an EEG machine or something? Perhaps if I knew more about your application I could design the demo to be more relevant

[2020-02-21 04:29] Resonanz opened #268 "Minor typo"
On the cookbook page under heading "Axis Spans" the text reads:

// things plotted after before spans are covered by them

After, or before?

[2020-02-21 07:49] Resonanz commented on #267
Thanks. I'm plotting data from a multi-well plate. Seems it will also need to be threaded so that the plots can be updated as we go along.

[2020-02-21 23:07] swharden opened #269 "Plot.CoordinateFromPixel() rounds OADate to float"
Chris sent in this issue via email:

[2020-02-23 16:06] swharden commented on #267
I'm almost done with a demo application that does this. However, this ScottPlot-independent example may be useful to others so I'll post it here:

### XAML (just a named grid)

[code]

### Startup sequence

[code]

### Output
![image](https://user-images.githubusercontent.com/4165489/75115433-78980580-562c-11ea-9abd-7bb75ee963ae.png)

[2020-02-23 16:12] swharden commented on #267
Replacing the label creation code with this does the trick for ScottPlots:

[code]

![image](https://user-images.githubusercontent.com/4165489/75115528-43d87e00-562d-11ea-8086-5a1a2e5a69db.png)

I'll post the code in a few minutes 👍

[2020-02-23 16:14] #267 closed

[2020-02-23 18:45] swharden commented on #268
Good catch! https://github.com/swharden/ScottPlot/tree/master/cookbook#axis-spans

I corrected the typo, and the cookbook will correct itself the next time it is regenerated.

Thanks for the tip @Resonanz!

[2020-02-23 18:45] #268 closed

[2020-02-23 18:47] #261 closed

[2020-02-23 18:48] swharden commented on #262
https://github.com/swharden/ScottPlot#interactive-plot-wpf

[2020-02-23 18:48] #262 closed

[2020-02-23 21:38] swharden commented on #269
This is more complete code to generate problem data

[code]

It seems the X coordinate doesn't update at all... but it does when you zoom out 🤔

I wonder if this is caused by a double/float conversion

![image](https://user-images.githubusercontent.com/4165489/75120617-e3603580-565a-11ea-8f90-24b9f71ed253.png)

[2020-02-23 21:42] swharden commented on #269
Yes, it's a double/float thing. Mouse location on the plot space is returned like this, but good DateTime requires it to be a double (not a float)

https://github.com/swharden/ScottPlot/blob/fc0c92f0d99b359aab74bbd89f87f313908cd613/src/ScottPlot.WinForms/FormsPlot.cs#L154

[2020-02-23 22:24] swharden commented on #269
I solved this without editing the user control. I added 2 functions to the Plot module which return double values.

https://github.com/swharden/ScottPlot/blob/0981670abebf507bcd6bff1b21ed6cd3baab232e/demos/WinForms/Demos/FormDateTimeAxis.cs#L56-L63

[2020-02-23 22:28] #269 closed

[2020-02-23 23:19] swharden commented on #251
I'll track progress toward this in #244

[2020-02-23 23:19] #251 closed

[2020-02-24 00:26] swharden commented on #244
I consolidated a lot of the discussion/code from this issue into one place. However, the styling still needs a lot of work. I intentionally have not placed user-facing styling arguments in the Plot module while I work to refactor it some more. I'll probably work on some other issues, then loop back around to this one.

One thing to note is that I created a `ScottPlot.Demos` module which contains p

[2020-02-24 11:23] gobikulandaisamy opened #270 "Need Improvement in formsplot.mousecordinate"
Please find the attached PDF and Testplot.zip.
[Need Improvement in mousecordinate.pdf](https://github.com/swharden/ScottPlot/files/4244280/Need.Improvement.in.mousecordinate.pdf)
[TestPlot.zip](https://github.com/swharden/ScottPlot/files/4244281/TestPlot.zip)

[2020-02-24 12:58] swharden commented on #270
I think this was all fixed in #269

It's not on nuget yet though but it is fixed here if you download ScottPlot from github

[2020-02-24 12:58] #270 closed

[2020-02-24 23:12] swharden commented on #250
I added a demo to the common demos library (ScottPlot.Demos.PlotTypes).

The WinForms and WPF apps are getting refactored soon to use these demos.

The function plotting method itself still needs some work (it's glitchy)

[2020-02-24 23:12] #250 closed

[2020-02-25 00:47] swharden commented on #263
@StendProg this is an excellent idea! It looks great. Here's a demo with markersize: 20

![smoothMarker](https://user-images.githubusercontent.com/4165489/75204270-68704b00-573e-11ea-9050-807004ce500e.gif)

[2020-02-25 01:03] swharden commented on #263
Not too complicated! I'll add similar code to SignalConst then close this issue.
https://github.com/swharden/ScottPlot/blob/74fa3050d38065ca819234e54d0855e419288f6d/src/ScottPlot/plottables/PlottableSignal.cs#L123-L130

[2020-02-25 01:05] #263 closed

[2020-02-25 01:59] swharden opened #271 "Refactor cookbook, demos, and build system"
- [x] create `ScottPlot.Demo` module to hold demo plots
- [x] create a WPF demo plot viewer
- [x] create a WinForms demo plot viewer
- [x] create demos for WinForms control (like mouse tracking)
- [x] create demos for WPF control (like mouse tracking)
- [x] make tests render all cookbook demos
- [x] make the dev application generate the cookbook
- [x] create website for scottplot http://swharden.c

[2020-02-25 02:45] swharden commented on #271
Qt does something like this
![image](https://user-images.githubusercontent.com/4165489/75210376-e3416200-574e-11ea-8753-b652b7b660b0.png)

[2020-02-25 04:03] swharden commented on #271
something like...

![image](https://user-images.githubusercontent.com/4165489/75213950-cfe7c400-5759-11ea-8a61-9019343192e0.png)

[2020-02-25 04:08] swharden commented on #266
Thank you for the reassurance! I'll keep these events as they are in the WinForms control and add the same events to the WpfPlot control (which currently has no events). I'll probably add a `Render` event to this list too.

[2020-02-25 17:57] gberrante opened #272 "Add equal scaling for x y axis"
Hi Scott,
thank you for this amazing work.

I would like to suggest to add a feature that enables the user to have the same scaling for both x y axis.

I tried to implement that by adjusting the axes limit from min(x,y) to max(x,y) and then using the aspect ratio of the plot and zoom out by the ratio the y axes. It works somehow but is not really a robust solution, the axis should be adjusted at a

[2020-02-25 19:59] zrolfs opened #273 "labels are too large when display scaling is used (WPF only)"
Hello!
First off, thank you for making this excellent library.
I am having an issue where the x-axis labels are being slightly cropped off. I'm sure this is user error, but I can't find a solution. I'm using the QuickStart example for the WPF on version 4.0.18.

![image](https://user-images.githubusercontent.com/16883585/75273023-ae6ff200-57c4-11ea-8e08-b9908eee88b5.png)

Thank you for your help,

[2020-02-25 20:05] swharden commented on #273
Thanks for reporting this @zrolfs! I'll take a closer look at this tonight

[2020-02-25 20:09] swharden commented on #272
Hey @gberrante

I might be misunderstanding your problem, but have you tried this?
[code]

[2020-02-25 20:11] swharden commented on #272
oh, I think I understand now. You're using a user control. When you resize the user control, you want it to not distort the axes with respect to each other.  You want it to lock the *ratio* of horizontal and vertical spans together while resizing the user control.

In other words: if you plot data shaped like a square, you want it to appear like a square (not a rectangle) after resizing the contro

[2020-02-25 20:34] gberrante commented on #272
yes correct. for example i'm plotting a geometric shape and  i need that both axes are on the same scaling regardless the plot dimensions and aspect ratio

[2020-02-25 21:00] swharden commented on #272
Pictures always help. Here's this issue described with Python

## problem

[code]

![image](https://user-images.githubusercontent.com/4165489/75287006-9b224e00-57e7-11ea-89c0-b20e0e61662a.png)

## solution: scaled

[code]

![image](https://user-images.githubusercontent.com/4165489/75287054-b1300e80-57e7-11ea-8623-2d3b3c8f06b7.png)

## better solution: equal
[code]

![image](https://user-images.git

[2020-02-26 02:19] swharden commented on #273
Hey @zrolfs, the quickstart here works fine on my machine: [/doc/quickstart/WpfApp](https://github.com/swharden/ScottPlot/tree/master/doc/quickstart/WpfApp)

https://github.com/swharden/ScottPlot/blob/c723b897e364314a9eec7905afa3ea8fa9e71d46/doc/quickstart/WpfApp/MainWindow.xaml#L10-L12

https://github.com/swharden/ScottPlot/blob/c723b897e364314a9eec7905afa3ea8fa9e71d46/doc/quickstart/WpfApp/MainW

[2020-02-26 03:34] swharden commented on #272
okay @gberrante I think I got this working!

I added two new functions: to `Plot.AxisScale()` and `Plot.AxisEqual()` but you don't need to call them.

To configure the FormsPlot control to do what you want, call `formsPlot.Configure(equalAxes: true)`

I'm working on a lot of parallel changes right now so I don't think I'll release this on NuGet as fast as I typically do (perhaps by the weekend), b

[2020-02-26 03:34] #272 closed

[2020-02-26 03:38] swharden commented on #273
... and I have to ask, are you using display scaling? If you disable display scaling, is the problem fixed? GDI+ (ScottPlot's rendering system until version 4.2 is released) is known to play well with scaled displays.

I'll go ahead and close this issue for now because I think you can fix your issue with:

[code]

https://github.com/swharden/ScottPlot/tree/master/cookbook#custom-padding

[2020-02-26 05:22] zrolfs commented on #273
Thanks for your help and quick response @swharden!

When I download and run the quickstart solution, I get the same issue:
![image](https://user-images.githubusercontent.com/16883585/75314406-47365a00-5825-11ea-93bc-f064866b80b8.png)

I'm not sure if I'm using display scaling or not... I can follow up if you're interested.

The line `RatioComparisonPlot.plt.Layout(yScaleWidth:20, titleHeight: 20,

[2020-02-26 06:50] apriori commented on #249
That is already working. I implemented a custom plot type (filled  multisignal envelope) exactly in this way.  Just implement `Plottable` , add it exactly to the named list and you're done.

Current issue though is, that `ScottPlot.Plot.Clear()` does not clear custom plottables.

[2020-02-26 15:36] swharden commented on #273
Sounds good! Another thing to try could be `plt.Ticks(fontSize: 10);`

Best,
Scott

[2020-02-26 15:37] swharden commented on #249
Yeah, it's possible as-is but a little clunky. I think a concise quickstart guide to designing custom plottables would be nice!

Also a new function like `Plot.AddPlottable(IPlottable customPlottable)`

[2020-02-26 17:59] swharden opened #274 "WinForms axis lines change cursor if not draggable"
... but they shouldn't

[2020-02-27 04:35] swharden opened #275 "Plot.Clear() doesn't clear everything"
This is a good example of a bad software pattern. Switch statements don't get updated when new pottables are added.

This hack works to clear experimental plottables (relates to #249):
[code]

Perhaps Clear should only have two simple overloads:
* `Clear()` to clear all
* `Clear(Type)` to clear just that plottable type

[2020-02-27 08:46] Resonanz opened #276 "cookbook misrepresents Plot.SaveFig() arguments"
plt.SaveFig arguments in the cookbook show dimensions:

`plt.SaveFig(600, 400, "01e_Legend.png");`

however these are not available. Is this documentation out-of-date, or is it that I am using .NET Core 3.1?

[2020-02-27 15:31] StendProg commented on #275
Switch statements always violates s**O**lid principe.

You can add optional predicate argument to `Clear()`.
This allow user make some specific selection, more flexible then only by type.
[code]

[2020-02-27 15:38] StendProg commented on #275
Switch statements always violates s**O**lid principe.

You can add optional predicate argument to `Clear()`.
This allow user make some specific selection, more flexible then only by type.
[code]

[2020-02-27 16:19] bonzaiferroni opened #277 "horizontal bar charts"
Any plans to implement horizontal bar charts? It might improve readability for charts like the one attached.

![guess_news_Catagorical](https://user-images.githubusercontent.com/10502552/75462680-d59ffe00-5941-11ea-8add-1a1cbdbace2a.png)

Labels are too long to have as tick labels, so they are added as text and rotated. However, there's no inherent advantage to arranging them horizontally, and a v

[2020-02-27 19:46] Resonanz commented on #267
Hi Scott, I wondering if this code has made it into a release? Sorry, I'm not sure how to figure that out... will there be a demo in The Cookbook? I would like to try placing some buttons and textboxes on the WPF form alongside the MainGrid but so far have not managed this. I can write some instructions for generating a minimal working example if I could sort the above. Thanks.

[2020-02-27 20:02] swharden commented on #267
Hey @Resonanz,

Your question is actually a "how do I use WPF" question, not "how do I use ScottPlot" one, so it can be answered without requiring a ScottPlot code change or release. The example I wrote for you which was used to produce the screenshot is:

* [/demos/WPF/Examples/ProceduralPlots.xaml](https://github.com/swharden/ScottPlot/blob/master/demos/WPF/Examples/ProceduralPlots.xaml)
* [/dem

[2020-02-27 20:13] swharden commented on #277
Hey @bonzaiferroni,

I plan to refactor the bar chart module to add support for stacked bar charts (#260) so now's a good time to go ahead and support horizontal orientation. Thanks for the suggestion!

I'll start working on this as soon as I'm done with the new demo application (#271). I'll leave this ticket open until this features is added.

Your question, "how do I experiment making custom new

[2020-02-27 20:16] swharden commented on #276
Oh man good catch! I've got to fix that for sure 😝 thanks for letting me know about it!

The line in the cookbook generator that needs fixing is here:
https://github.com/swharden/ScottPlot/blob/337c36cbd9d050e16023924b15c41c2cd199ee15/tests/Cookbook/Report.cs#L83-L84

[2020-02-27 20:50] swharden commented on #275
I love this idea! Thanks for suggesting it.

The new list of Clear() functions will be:

[code]

[2020-02-27 22:15] Resonanz commented on #267
Hi Scott, the following may help; if not, ignore :-)

So, the code snippets above will plot lots of colorful blocks or lots of plots, however the WPF form code you have used will not allow other elements onto the form. I think the problem is that "MainGrid" as you have used it does not allow other elements to be placed on the same MainGrid.

To fix this I have made a Grid and then placed your code

[2020-02-27 22:23] Resonanz opened #278 "Edit NuGet description to indicate supported frameworks"
When I go to NuGet and search for ScottPlot, it is not obvious which is for .NET Core and which is for .NET Framework. Can the description be made clearer?

[2020-02-27 22:26] swharden commented on #278
The package supports both! I'll add this to the description

[2020-02-27 22:35] swharden commented on #278
![Capture+_2020-02-27-17-33-48~2](https://user-images.githubusercontent.com/4165489/75493263-7a90fa00-5987-11ea-9517-0b4d107a66f5.png)

[2020-02-27 22:55] Resonanz commented on #267
And here is working code with the NuGet .NET Core package installed. This plots nicely:

[code]

[2020-02-27 23:16] Resonanz opened #279 "Procedural (and small) plotting shows line (= borders?)"
When plotting really small plots (100x100px for example) and also procedural plots, there appears a thin line demarcating the plots.

![image](https://user-images.githubusercontent.com/6218191/75495664-e759d200-5a23-11ea-9825-f6a3441d64a1.png)

[2020-02-27 23:23] swharden commented on #279
You're right! That was fixed in 7e72265 by forcing ScottPlot to have a transparent background. That change isn't on NuGet yet, but it has been made to the source (so I'll close this issue).

You can fix it by using ScottPlot from source, or perhaps by changing:

[code]

to:

[code]

[2020-02-27 23:23] #279 closed

[2020-02-27 23:31] Resonanz opened #280 "add "open in new window" to right-click menu"
Feature request.

So I have a grid of plots and want to examine one or more of them more closely. Possible options:

1. Clicking on the plot could pop up a modal window. Closing with Esc key or Spacebar would be nice.

2. Mouse-hovering would enlarge the plot while the mouse remains hovered. This limits the size of the enlarged window, or require positioning so that it doesn't interfere with the m

[2020-02-27 23:33] swharden commented on #280
I like this idea! What about adding an item to the right-click menu, "open plot in new window" and it would open a secondary window that the user can make any size they want?

[2020-02-27 23:39] swharden commented on #278
Done! Thanks for the tip. I also gave this topic its own section header on the main page:
https://github.com/swharden/ScottPlot#supported-platforms

[2020-02-28 00:14] swharden opened #281 "WPF scroll wheel zooms to center (not to cursor)"
make this work like the FormsPlot does

[2020-02-28 00:41] swharden commented on #271
something like this
![image](https://user-images.githubusercontent.com/4165489/75499826-327ad300-5999-11ea-9975-0c4da42c4595.png)

[2020-02-28 11:17] Antracik commented on #274
I've noticed the same issue with WPF non draggable axis lines as well. Pointer changes to arrow drag cursor and prevents panning with the mouse when over it.

[2020-02-28 14:48] swharden opened #282 "ScottPlot.LineStyle.Dash"
ScottPlot.LineStyle is missing Dash

[2020-02-28 14:58] swharden commented on #273
I ran across this problem myself. It looks like title and axis label size is normal, but ticks are huge. I'm using display scaling on this computer. My guess is that tick label font size isn't set, and being auto-detected somehow 🤔

![image](https://user-images.githubusercontent.com/4165489/75559039-c340c580-5a10-11ea-8dad-9df068540539.png)

[2020-02-28 15:14] swharden commented on #273
An alternative temporary fix is:

[code]

[2020-02-28 15:18] zrolfs commented on #273
Yep, that works for me!

[2020-02-28 15:20] zrolfs commented on #273
Maybe unrelated, but I'm getting two horizontal red lines on the perimeter of the plot. Are you familiar with this? They're visible in the first figure.

[2020-02-28 15:52] swharden commented on #273
Yeah, this was fixed by 7e72265a624466585c5efe877b79f012999e1835

It'll be fixed in the next NuGet release

[2020-02-29 16:47] swharden commented on #273
Fixed this issue with 4837053 - it'll be in the next NuGet release (hopefully today)

[2020-02-29 16:51] swharden commented on #273
Spoke too soon. Ticks are still oddly larger than labels when display scaling is on.
![image](https://user-images.githubusercontent.com/4165489/75611581-bfcd3d00-5ae9-11ea-8412-8ae92fb52115.png)

[2020-02-29 17:05] swharden commented on #273
Finally figured this out...

All fonts created like this
[code]
should be like this to disable display scaling:
[code]

or like this to support display scaling:
[code]

A thorough review of the whole project should be conducted to find all new Font creations and ensure consistency. I bet something similar should be done with lines, circles, etc. The simplest solution for now is to disable display

[2020-02-29 17:06] #273 closed

[2020-03-01 11:10] jmecosta opened #283 "sign packages"
Hi,

can you please provided signed nuget packages please... this is the new trend in .net world!

thanks

[2020-03-01 15:40] swharden commented on #283
Hey @jmecosta, thanks for the suggestion! I'll sign the next release.

[2020-03-01 16:24] swharden commented on #283
I said this when I thought it was free like how I sign my Android apps before uploading them to the Play store. I now appreciate that this is not the case:

Provider | Yearly cost
---|---
[DigiCert](https://www.digicert.com/code-signing/) | $474
[Symantec](https://trustcenter.websecurity.symantec.com/process/trust/productOptions?productType=SoftwareValidationClass3) | $499
[GoDaddy](https://www.go

[2020-03-01 21:45] jmecosta commented on #283
apologies, i meant sign with strong name!  they dont necessarily need to be singned with a payed certificate. the error is that i cant use this assembly because it doenst have strong name!

[2020-03-02 00:23] swharden commented on #283
https://docs.microsoft.com/en-us/dotnet/standard/assembly/sign-strong-name

[2020-03-02 00:25] swharden commented on #283
https://github.com/dotnet/runtime/blob/master/docs/project/strong-name-signing.md

[2020-03-02 17:58] gobikulandaisamy opened #284 "Formsplot1.plt.CoordinateFromPixelY(mousepixel.Y) Returns Date value in OA Format"
Dear Sir,

![image](https://user-images.githubusercontent.com/24189431/75703412-6a598180-5cdd-11ea-88b9-465664b622ef.png)

[2020-03-03 11:12] #284 closed

[2020-03-03 11:14] gobikulandaisamy commented on #284
Dear Sir,
Now only I have seen your version history. 4.0.20 you informed, you will rectify this.
 We are awaiting your next release.

Thankyou
GOBI.K

[2020-03-03 12:25] swharden commented on #284
Hey @gobikulandaisamy, it looks like you noticed ce8c25d742ba92d08b001e8db40f40c7afa6508e which indeed will be in the next NuGet release

If you need this function in the current release you can access it by:
[code]

[2020-03-03 15:20] gobikulandaisamy commented on #284
Ok Sure sir. Thank you for your reply

On Tue, Mar 3, 2020 at 5:55 PM Scott W Harden <notifications@github.com>
wrote:

--
Thank You,
Regards,

K.Gobi

[2020-03-03 17:59] Resonanz opened #285 "plotting data in lists (instead of arrays)"
Hey there Scott, wondering if there are any technical reasons for using arrays rather than lists for plot data. Is it currently possible to use lists, or is this something you would consider implementing? Wondering because lists have some benefits over arrays in terms of dynamically appending elements which is useful in my case at least :-)

I know that I can use .ToArray().

[2020-03-03 18:21] swharden commented on #285
Hey @Resonanz, right now all functions are written only to support double arrays. To understand why I'll restate your question in a way that makes the answer a bit more obvious: Instead of just supporting `double[]`, why not also support `float[]`, `short[]`, `int[]`, `long[]`, `byte[]`, `decimal[]`, `List<double>`, etc...

The simple answer is that it's a lot more code (and function overloads) to

[2020-03-03 18:21] #285 closed

[2020-03-07 05:23] envine opened #286 "WinForms transparent background"
Is it possible to set transparent background on formsPlot control in WinForms?
[code]
This makes blue background as we see in the designer.
It seems that bitmap can be generated with transparency, but I need it in WinForms control.

[2020-03-07 12:41] StendProg commented on #286
Hi @envine.
Your problem turned out to be more complicated than it seems at first glance.
Winforms have poor transparency support.
There is possible to simulate transparency for `UserControl` by some tricks:
1. Add in `UserControl` constructor
[code]
2. Override `UserControl` `CreateParams` method
[code]
Main problem is PictureBox which has it own implementation. I try to apply this tricks on it t

[2020-03-07 13:19] envine commented on #286
Thanks @StendProg .
I just want to put `FormsPlot` on my main `Form` (System.Windows.Forms.Form) of the WinForm application.
The main `Form` has a `BackgoundImage` on it, and I want to make this image visible even over `FormsPlot` by setting the background of `FormsPlot` transparent.

[2020-03-07 14:19] StendProg commented on #286
If you need transparency only over `Form` `BackgroundImage`:
[code]
This will be possible after PR #287 will be merged. This PR set internal `pbPlt.BackColor` together with `FormsPlot.BackColor`.

It will look something like this.
![image](https://user-images.githubusercontent.com/53831487/76144802-e57fb680-6094-11ea-83bf-7b0b69afc73b.png)

[2020-03-07 15:26] envine commented on #286
Thank you very much @StendProg .
I have tested your PR, and it works perfectly!

Overriding `BackColor` property of `PictureBox` used for `FormPlot` is enough for my use.
Thank you again.

[2020-03-07 15:26] #286 closed

[2020-03-07 15:44] swharden commented on #286
Hi @envine, I think @StendProg is right: my understanding is that a truly transparent background is not possible in windows forms. This limitation of Windows Forms is why you also cannot add a `Label` with a transparent background that will allow your background image to show through. The closest you can get is to make your background and ScottPlot the same solid color.

Perhaps you could simulate

[2020-03-07 15:56] swharden commented on #286
@StendProg and @envine sorry about my confusing initial response. @StendProg described the solution very well. I updated the example, and the code explains itself:
[code]

![image](https://user-images.githubusercontent.com/4165489/76146604-0bd82e80-6062-11ea-8bcb-adfb7c9ea6c0.png)

[2020-03-07 16:08] StendProg commented on #286
This solution works only for `Form` background, any control hide under `FormsPlot`. As you explained there is only flicker ploblem you see in `OnPaint` render implementation. Maybe i will test this implementation later.

[2020-03-07 16:12] envine commented on #286
Thanks for your comment @swharden .
I understand the issue on complete transparency is not the matter of ScottPlot implementation.
And, thank you for merging the latest PR by @StendProg and adding nice demo for that.
It works as I expected.

[2020-03-07 17:00] swharden commented on #286
For what it's worth, I added support (and a demo) for the WpfPlot control too.

![image](https://user-images.githubusercontent.com/4165489/76147511-f4ea0a00-606a-11ea-9404-ede6ae7b0d01.png)

It was hard to track down, but the only change needed was to modify the encoder for `bmp.Save`:

https://github.com/swharden/ScottPlot/blob/22e7e23e4a6bb8877a0a801ce1a9557e620ceba8/src/ScottPlot.WPF/WpfPlot.xa

[2020-03-08 15:50] swharden commented on #271
Virtually all examples are suitable for the cookbook. Examples which require explicit creation as standalone demos are:
* mouse tracker
* toggle visibility
* transparent background
* linked plots
* show value on hover
* user control settings
* custom click events
* WAV file viewer (?)
* Live data
  * animated
  * growing array
  * circular buffer
  * rolling buffer
  * incoming data
  * display fi

[2020-03-09 23:13] swharden commented on #278
spaces in the description make it display poorly in narrow browser windows. It also has funny indentation. note to self: fix this before next release

https://www.nuget.org/packages/ScottPlot/

[2020-03-10 09:50] jmecosta opened #288 "GDI error when saving large PNG files"
hi,

didnt find any reference to this

[code]

Can it be the size of the png being 2 big?

[code]

[2020-03-10 12:55] swharden commented on #288
@jmecosta thanks for sharing this error message!

I'm not aware what the maximum file size is for `System.Drawing` but 2000x1000 doesn't seem very large. Can you share the code you are using to call plt.SaveFig? It seems more likely that the error might be there...

[2020-03-10 15:50] jmecosta commented on #288
sure:
![image](https://user-images.githubusercontent.com/1041352/76331290-99807c00-62f7-11ea-8ff6-36d50894320c.png)

this works most of the times! maybe its related with the data itself?

[2020-03-10 15:55] swharden commented on #288
Perhaps you can gain insight by separating the rendering (ScottPlot) from the PNG encoding and file saving (GDI) tasks:

[code]

Using code like this, where does the failure occur?

[2020-03-10 16:00] jmecosta commented on #288
it occurrs in a some tests! doesnt seem to be related with agent since others tests run fine in that agent! i would say its most likely the data set that is causing the issue. i will do what u suggested and let u know if it works. thanks

[2020-03-10 16:22] swharden commented on #288
Sounds good! I'll close this issue for now, but if you find that ScottPlot is the underlying cause feel free to open the issue again (perhaps with sample data that causes crashes) and I can take a closer look.

I'm glad you enjoy using ScottPlot! Good luck with your coding 👍

[2020-03-10 16:22] #288 closed

[2020-03-11 12:43] swharden opened #289 "legend font size and display scaling"
similar to #273, legend fonts are too large in WPF

![image](https://user-images.githubusercontent.com/4165489/76418033-4f89ab80-6374-11ea-8df2-5a8a9ea84e6a.png)

[2020-03-12 21:45] Benny121221 opened #290 "Linear regression fails on unevenly-spaced X data"
I used this set:

[code]

On my (emulated) TI-84 Plus, I got this result: https://photos.app.goo.gl/vmQ47RBT8p6tqNaG6

And on a separate statistics program (https://github.com/Benny121221/wstat) I got this printout:
![image](https://user-images.githubusercontent.com/8635304/76569061-d70c1300-6477-11ea-9b80-9d207107e9e8.png)

However, using ScottPlot, I got the same offset, but the slope was 0.3200

[2020-03-13 04:47] Benny121221 opened #292 "Support for scatter plots with polar coordinates?"

[2020-03-13 15:46] StendProg commented on #290
#293 fix bug in spanX calculation.
With this fix ScottPlot result equal to @Benny121221 TI-84 Plus.

[2020-03-13 17:44] StendProg opened #294 "Interactive cookbook repeated rerender."
Steps to reproduce:
1. Click and hold mouse button.
2. Start mouse move.
3. Stop mouse move, but still hold mouse button.

Benchmark and cookbook shows repeated rerender, looks like `mouse move event` triggered, but mouse not moving.
Maybe this is what is intended for interactive cookbook, but it look different with previous behavior.

Update:
Disable gBPlot.Text updates, fix this issue.
It looks

[2020-03-13 18:56] Benny121221 commented on #292
#295

[2020-03-13 20:00] StendProg commented on #292
Converting polar coordinates is a simple task. Not so hard manual convert coordinates to decart and pass them to ScottPlot. Helper method for conversion will be usefull.

There is possible to make special `PolarPlot` type with different axises. Something like circles for `R`, and Rays for `Angle`. To do this, you need to write a lot of new code that does not rely on existing.
A large amount of wor

[2020-03-13 21:21] Benny121221 commented on #292
I ain't a fan of the graphics-ey stuff, so I probably wouldn't be the best person to implement a circular axis. However, it does seem like a good idea and I could look at that down the road

[2020-03-14 14:15] swharden commented on #290
Thanks @Benny121221 and @StendProg for working on this!

I added rSquared calculation to the fitter too.

Excel might not be the pinnacle of statistical analysis software, but our values matching theirs gives us some reassurance we are on the right track!

ScottPlot | Excel
---|---
![image](https://user-images.githubusercontent.com/4165489/76683720-abef0400-65dc-11ea-8801-f69b1b326f26.png) | ![ima

[2020-03-14 14:33] swharden commented on #290
A problem remains: the linear regression fitter does not work with unevenly-spaced data.

I'm going to merge PR #291 because it is an improvement, but I will leave this issue open until the fitter can properly fit unevenly-spaced data.

@Benny121221 or @StendProg do one of you want to figure this out? I'm not great at statistics 😅

Evenly-spaced Xs | Random Xs
---|---
![image](https://user-images.

[2020-03-14 15:29] swharden commented on #292
Hey @Benny121221, thanks for this PR!

The topic of plotting data on non-linear coordinates comes up every once and a while. #41 #207 #29

Since ScottPlot renders on Bitmaps using pixel coordinates, all math assumes Cartesian coordinates. The best way to display non-Cartesian data with ScottPlot's Cartesian coordinate system is to convert the data to Cartesian coordinates before plotting it. It is

[2020-03-14 15:29] #292 closed

[2020-03-14 15:38] swharden commented on #294
@StendProg thanks for noticing this!

I made a textbox beneath the plot which now gets updated with benchmark information and it seems to have resolved the problem.

![image](https://user-images.githubusercontent.com/4165489/76685194-38eb8a80-65e8-11ea-80cf-1ae807307647.png)

[2020-03-14 15:38] #294 closed

[2020-03-14 15:41] swharden commented on #290
This test is used to generate the randomly-spaced data points shown in the screenshot. It can be used to help develop/test the solution.

https://github.com/swharden/ScottPlot/blob/7c44918f8dd849465fe93c160d6c14a98c869545/tests/Statistics/Regression.cs#L66-L89

[2020-03-14 16:27] OgreTransporter opened #297 "Custom formatting function for ticks"
It would be helpful if you could specify a custom formatting function for the ticks, which gets the value of the tick and returns a string. So you can format the ticks more easily yourself. For example date and time for a scatter plot. Or is there already a possibility to display date & time in a scatter plot? Otherwise you could simply use the DateTime.ticks as X values and then use a formatting

[2020-03-14 17:14] swharden commented on #297
Hey @OgreTransporter, do these methods / examples provide the functionality you're looking for?

[code]

http://swharden.com/scottplot/cookbooks/4.0.20/#Customize_Ticks_DateAxis

[code]

http://swharden.com/scottplot/cookbooks/4.0.20/#Customize_Ticks_Positions

[2020-03-14 17:52] StendProg commented on #290
@swharden you fogot to pass `xs` data.
Your test pass if you reduce noise level to `5` and provide `xs` array:
[code]

[2020-03-14 18:10] Benny121221 commented on #292
#298

[2020-03-14 18:16] swharden commented on #290
# 🙈

Thanks @StendProg, it looks much better!

Evenly-spaced Xs | Random Xs
---|---
![image](https://user-images.githubusercontent.com/4165489/76684028-e5c10a00-65de-11ea-861c-4703ad22dbf4.png) | ![image](https://user-images.githubusercontent.com/4165489/76687858-3bf17580-65fe-11ea-998b-ae8e6d392943.png)

[2020-03-14 18:16] #290 closed

[2020-03-14 20:05] SeidChr opened #299 "Grid Spacing on Horizintal / X Date Axis"
Hi there, thank you for the great tool :)

Using your lib for my corona tracker: https://github.com/SeidChr/COVID-19-Report-Data-Pipeline/wiki/The-Plot

Trying to set a grid spacing on the X axis to 7 days, so one can easily count the weeks, but whatever i put in the plt.Grid(xSpacing: XXX) command seems to have not effect at all.

Is there some way to achieve this?

[2020-03-14 20:08] SeidChr opened #300 "Put X-Labels at an angle"
I know it from the usual tools like excel or google spreadsheets, that you can have X-labels that are printed at an angle, so there can be more lables on less space:

![image](https://user-images.githubusercontent.com/1927076/76689600-cd310e00-6637-11ea-8d1d-d8d4bdf925e8.png)

Couldnt find a way to do this with ScottPlot. Can you add it?

[2020-03-14 20:17] SeidChr opened #301 "Set number and date format using a custom culture"
Hi,

i work on machines with different culture settings and sometimes even on vscode remote on a virtual azure box.
All the time i got slightly differntly formatted numbers and dates (i didnt even realize it in the beginning).
To combat this and to set up some custom formattings matching the purpose of the plot, i had to create a complete culture and set the desired formatting there:
https://githu

[2020-03-14 20:41] swharden commented on #301
Hi @SeidChr,

Thanks for noting this issue! A similar question was asked recently #297 so it seems this project may benefit from a better/simpler way to do let the user define how ticks are formatted.

Your solution of creating a custom culture is creative! I wouldn't have thought of that. Perhaps an intermediate solution would be an overload of `plt.SetCulture()` which has several arguments to le

[2020-03-14 20:47] swharden commented on #300
Thanks for the suggestion @SeidChr! This would be a great improvement, especially for date ticks.

A small gotcha would be that the layout-detecting code currently uses tick label height to determine how much space to allocate for the lower ticks, but once we get ticks rendering at an angle I can adjust the layout code to accomodate it.

Would you be interested in giving this a try? Horizontal tic

[2020-03-14 21:05] swharden commented on #299
I created a cookbook example to test this out and track progress toward fixing this issue. You're correct, `plt.Grid(xSpacing: 1)` is ignored when `plt.Ticks(dateTimeX: true)` is used.

I'll leave this open to track my progress toward fixing this issue.

In the mean time, you could define tick positions manually like this:
http://swharden.com/scottplot/cookbooks/4.0.20/#Customize_Ticks_Positions
I

[2020-03-14 21:19] swharden opened #302 "PlotFunction rendering can be improved"
Initially implemented by @Benny121221 in #243, I think there's room to improve this plottable.

There's a cookbook example showing how to use it, but it's obvious it renders a little bit finny.

Render() could be improved so it renders exactly one point per x pixel.

![func](https://user-images.githubusercontent.com/4165489/76690558-93e8a600-6617-11ea-9f29-9e88f9246b3a.gif)

[2020-03-14 21:20] swharden commented on #302
I'm currently trying to work 100% on #271, so @Benny121221 if you feel up to giving this a try you might be able to do it faster than me!

[2020-03-14 23:57] swharden commented on #302
@Benny121221, awesome job fixing this up! Just in time for the next release. Thanks!!

![func2](https://user-images.githubusercontent.com/4165489/76692491-f056c000-662d-11ea-9874-1e605d3a4862.gif)

[2020-03-14 23:58] swharden commented on #302
Actually, are the arguments still necessary in `Plot.PlotFunction()`? If you remove the min and max arguments you can also remove the obsolete tag while you're in there, then I'll merge it in 👍

https://github.com/swharden/ScottPlot/blob/d0132655b926db529595f8f7df07b1b49ceb8888/src/ScottPlot/Plot.cs#L334-L347

[2020-03-15 00:00] swharden commented on #302
... and if you change the arguments, you should also update the cookbook

https://github.com/swharden/ScottPlot/blob/d0132655b926db529595f8f7df07b1b49ceb8888/src/ScottPlot.Demo/Experimental/Function.cs#L9-L19

[2020-03-15 00:52] #278 closed

[2020-03-15 00:58] Benny121221 commented on #302
Got it. The only thing left is the error handling, if someone tries to plot `Log(x)`, they're gonna have a bad time unless they do this: `if(x<=0) return null; else return Math.Log(x);` which I think could be less clunky.

There are try/catch statements in `PlottableFunction.Render` but they don't actually stop it from bugging out. I think the best option is either fix that or write very publicly

[2020-03-15 01:02] swharden commented on #283
Hey @jmecosta, packages are signed and new NuGet packages will be uploaded this weekend.

I committed the keys into the repo which felt weird, but I'm reminded that keys are to provide unique IDs and not intended for any security purposes.

[2020-03-15 01:02] #283 closed

[2020-03-15 01:03] SeidChr commented on #301
Wouldn't have thought of using dotnet cultures at all, when creating a plotting engine, but i assume it makes things easier. Really, im not a fan of .net cultures at all 😅
Having a variable formatting when executing the same software on another system really makes things indeterministic sometimes.
I would just directly format the numbers or dates with `.ToString(SPECIFIED_FORMAT_STRING)` wherever

[2020-03-15 01:09] Benny121221 commented on #302
*I went with the second option, I added a note to the description of the demo

[2020-03-15 04:07] swharden commented on #271
Just issued ScottPlot 4.0.21 with the new build system. Seems to work 🤞

[2020-03-15 04:07] #271 closed

[2020-03-15 04:09] swharden commented on #297
The examples above combined with the feature that was just added in #301 will probably solve your issue.

http://swharden.com/scottplot/cookbooks/4.0.21/#Customize_Ticks_CustomCulture

If not, feel free to open this issue again

[2020-03-15 04:09] #297 closed

[2020-03-15 04:11] swharden commented on #301
just released in this on NuGet in ScottPlot 4.0.21, thanks again for your help @SeidChr!

[2020-03-15 04:11] #301 closed

[2020-03-15 04:15] swharden commented on #301
FWIW, it wasn't on my radar initially either. This library is used internationally, and later I realized Germans use `.` to separate large numbers and `,` to serve as a decimal mark, so I have to be mindful not to hard-code these things in (or even have US-centric defaults).

[2020-03-15 04:16] swharden commented on #302
Thanks so much @Benny121221, this looks great! I moved the demo out of "experimental" and into "plot types" 😎

Just published ScottPlot 4.0.21 on NuGet

[2020-03-15 04:16] #302 closed

[2020-03-15 06:54] jmecosta commented on #283
Great, thanks.

On Sun, 15 Mar 2020, 03:02 Scott W Harden, <notifications@github.com> wrote:

[2020-03-15 17:37] swharden commented on #299
**I remembered why this is so difficult:** If a user wanted to define horizontal tick spacing as 1 month, how would they do it? They can't define a certain number of days (how DateTime.ToOATime() works) because different months have different names. Working with DateTimes is very challenging...

Still working on a fix. It will probably require the user define a DateTime unit of magnitude, and the

[2020-03-15 18:15] swharden commented on #299
A high DateTime density highlights the need for #160, but fixed-unit DateTime grid spacing seems to be working now.

https://github.com/swharden/ScottPlot/blob/749c4b8ddf358fdee797ff8d884fcb0781bfdc8d/tests/Ticks/TickGeneration.cs#L70

![image](https://user-images.githubusercontent.com/4165489/76707630-36ac2d80-66c7-11ea-97de-aad80c5127b5.png)

[2020-03-15 18:17] swharden commented on #300
I'll tackle this now. I can get code hints from the solution of #160.

[2020-03-15 18:36] SeidChr commented on #299
Cool, and interface looks good.
Can't wait for the release 😊

[2020-03-15 18:36] swharden commented on #299
Now that #300 is completed I think this issue is solved.

[code]

![image](https://user-images.githubusercontent.com/4165489/76708046-4aa55e80-66ca-11ea-9189-345352955e02.png)

[2020-03-15 18:36] #299 closed

[2020-03-15 18:51] swharden commented on #300
![image](https://user-images.githubusercontent.com/4165489/76708355-7aedfc80-66cc-11ea-87d9-f222e13b3dbf.png)

[2020-03-15 18:51] #300 closed

[2020-03-15 19:27] #289 closed

[2020-03-15 19:44] #266 closed

[2020-03-15 19:44] swharden commented on #274
fixed in 4.0.21

[2020-03-15 19:44] #274 closed

[2020-03-15 19:46] swharden commented on #276
actually, a totally new cookbook system solved this issue!

[2020-03-15 19:46] #276 closed

[2020-03-15 19:58] swharden commented on #281
I remember now why this is hard: "zoom to pixel" may be wrong if display scaling is used

[2020-03-15 20:20] #281 closed

[2020-03-15 20:23] StendProg opened #305 "modified git history (and impact on forks)"
Hi @swharden .
You rewrite git history?
I try to make PR and get difference in 1400 commits.

[2020-03-15 20:50] StendProg opened #306 "EqualAxis for Plot"
I make PR but get problems with `ScottPlot` main repository.
Here PR in my fork https://github.com/StendProg/ScottPlot/pull/2.
If you are interested you can manual grab it, before I will solve git problem.

[2020-03-15 20:54] swharden commented on #305
Yeah, I edited the history to remove thousands of cookbook images (#271) which were making this repo unnecessarily large. The only modifications in the code base are deletions the /cookbook folder, but I understand this changed all the commit hashes moving forward.

What do you think the best way is to proceed with your PR? Make a new clone, copy/paste the /src file, then make a new PR? I'm really

[2020-03-15 20:58] swharden commented on #306
The problems were caused by me modifying the git history. I'm really sorry to have made this PR difficult! I don't intend to rewrite history anymore. #305

I'll manually apply your changes from https://github.com/StendProg/ScottPlot/pull/2 into master. Sorry for the inconvenience the history modification caused you!

This modification looks excellent, thank you for working on this!

[2020-03-15 21:04] StendProg commented on #305
I will make this PR in my fork #306.
You can manual grab this, this contain only additions.
That I afraid for, it's `SkiaControl` branch.
By rewriting history you made unactual all forks.
In all git books present this words: "`Never` change history for published brunches".
I will investigate tomorrow that is possible to do with this problem.

[2020-03-15 21:09] #306 closed

[2020-03-15 21:15] swharden commented on #305
I applied the patches you described and closed #306

I am aware this is highly discouraged. Those books also say to only check-in source code (not binaries and data) to source control, and my initial motivation was to correct that problem... but I recognize I may have made a much bigger problem in the proccess.

I now recognize the magnitude of this problem for branches depending on the ScottPlot

[2020-03-15 21:24] swharden commented on #305
I can try to push that back up to GitHub, and perhaps your branch will return to normal.

I think we should try this. Even if it doesn't work, it seems unlikely to make the problem worse. I'll wait until I hear back from you though.

[2020-03-15 21:24] StendProg commented on #305
I think what has been done is done. There is not so much people affected by this. Some type of notification for active contributors will be good. But i think they got this then try to sync with upstream. It's easy to remove fork and create new one, but loose all data
`SkiaControl` present and work in my fork, the only problem is syncing with new upstream. Maybe there easy way to solve this. I inve

[2020-03-15 21:40] swharden commented on #305
True, but this affected you, and I consider you of my most skilled and helpful contributors! Your work on the `SkiaControl` and the contributions you have made to ScottPlot represent a fantastic efforts, and I feel bad for modifying the repo in a way that made your fork difficult to work on.

Let me know what I can do to help! I'll wait to make any changes (including trying to revert to my saved r

[2020-03-16 18:04] StendProg commented on #305
Git is a magic system. For now i have `masterOld`, `SkiaControl` (based on old master), `master` (upstream version) and `SkiaControlClean` all in my fork. `SkiaControlClean` based on new `master`, I done it with applying patches on new branch.
So, this problem solved for me.

[2020-03-16 18:25] swharden commented on #305
This is great to hear! I'm glad you found a solution. I'll be careful to ensure I never modify the history of public branches again 👍

[2020-03-16 18:25] #305 closed

[2020-03-16 19:04] SeidChr commented on #299
Hi, what do you think, when could you make a release?

[2020-03-16 19:11] swharden commented on #299
Source code is ready to use now
https://github.com/swharden/ScottPlot/archive/master.zip

I'll fix a few more things then upload a new NuGet package tonight

[2020-03-16 23:59] swharden commented on #299
Inspired by this comment I added a new section to the readme:
https://github.com/swharden/ScottPlot#build-from-source

I'll post a nuget package in a few more minutes though

[2020-03-17 02:12] swharden opened #307 "remove white border from icon"
right now there is a 1px border on all sides that looks bad

![image](https://user-images.githubusercontent.com/4165489/76814736-fedddc80-67d1-11ea-8df5-5a7bf6f7176e.png)

I could turn it to a 2px black border 🤔

![image](https://user-images.githubusercontent.com/4165489/76814957-9fcc9780-67d2-11ea-80b8-d02d1f5b262d.png)

~~or I could utilize semitransparency and make a shadow~~
too fancy

![image

[2020-03-17 04:13] swharden opened #308 "additional options for WpfPlotViewer and FormsPlotViewer"
Interactive pop-up plot viewers were just added for WinForms and WPF. The ScottPlot Demo application has examples of their use.

[code]

Currently the windows that are launched are full-window ScottPlots. It may be useful to add buttons or a menubar for easy access to common tasks. Perhaps options for:
* auto-axis
* set axis (launches a pop-up window)
* save
* help

Matplotlib (for Python) does th

[2020-03-17 07:52] Resonanz opened #309 "Autoscale axes"
Hi Scott, great job with the new releases !!!  Wondering about autoscaling scatter plots..... have you considered adding that as an option? Thanks !

[2020-03-17 11:30] swharden commented on #309
`plt.AxisAuto()` or middle-clicking the user control should do the trick!

Re-open this issue if you had something else in mind :+1:

[2020-03-17 11:31] swharden commented on #309
Actually, maybe I should alias `plt.AxisAuto` to `plt.AutoAxis` to make it easier to discover :thinking:

[2020-03-18 00:09] swharden opened #310 "improve multiplier and offset notation defaults"
Many people don't like the multiplier and offset notation. This is understandable. It's a bit ugly, and it can be confusing if you don't know what it is.

multiplier notation | offset notation
---|---
![image](https://user-images.githubusercontent.com/4165489/76912407-255f4e80-688a-11ea-8a46-1a74be0851d8.png) | ![image](https://user-images.githubusercontent.com/4165489/76912429-33ad6a80-688a-11ea-

[2020-03-18 03:33] Resonanz opened #311 "programmatically create grid of WpfPlot controls #3"
Hi Scott, I have a class that creates a 12 x 8 grid which is partly shown below. The code in the class fills each cell with a ScottPlot.WpfPlot object as shown below. The WPF XAML code displays these plots nicely on a WPF grid, but...... weirdy thing is that this code produces a rectangular plot outline box at (0,0) which is top left position even if I never call the setRow and setColumn, but just

[2020-03-18 13:18] swharden commented on #311
Take a closer look at the values SetColumn and SetRow is using. Replace the last two lines of your `PlotCorrelation()` method with this and run the program and inspect the output:

[code]

Are you sure a plot is showing up at (0, 0) even though it is not placed there?

[2020-03-18 13:21] swharden commented on #311
This may be a better answer:

[code]

This code block is placing an empty ScottPlot into every grid square. If you don't want a grid placed at (0, 0), modify the for loop to start at 1: `int idx = 1`

[2020-03-18 17:32] StendProg commented on #311
Then you do `SPGrid.Children.Add(wpfPlot[idx]);` and not specify `Grid.Row`, `Grid.Column` for them, they all dropped to (0, 0) element of Grid.

To follow WPF patterns you must avoid using code behind instead of xaml for markup.
For that you can do:
Make simple container for Grid element:
[code]

Make property in window class (code behind) to hold that elements:
[code]

Fill that list in window c

[2020-03-18 23:40] swharden commented on #311
Wow @StendProg thank you for the fantastic example! Your advice for WPF is exccellent! I used it to create a new demo.

![image](https://user-images.githubusercontent.com/4165489/77017162-0fb45c80-6950-11ea-9623-6582b015f690.png)

[2020-03-18 23:40] #311 closed

[2020-03-19 00:02] swharden opened #313 "plots with no data render as a black square"
Plots look odd until data is plotted

[code]

![image](https://user-images.githubusercontent.com/4165489/77018217-17293500-6953-11ea-9756-fdf981d9b76b.png)

This is jarring for user controls because as soon as you cick/drag, grid lines and tick labels appear.

Interestingly, just setting the axis solves this.
[code]

![image](https://user-images.githubusercontent.com/4165489/77018255-4344b600-6953

[2020-03-19 06:12] Resonanz commented on #311
Thanks a lot guys, I will study this code until I understand it !!!

[2020-03-19 06:18] Resonanz opened #314 "programmatically create grid of WpfPlot controls #4"
Guys, not sure how to contact you to say thanks, so "thanks !". Can you advise on a good book or resource for WPF programming covering "code behind" and binding and so on?

[2020-03-19 08:08] Resonanz commented on #311
Just to note here that for whatever reason, I could not get StendProg's code above to display anything on the form. I copied Scott's code from the "ManyPlots" demo code and that displayed fine. I have poked around and cannot see why it does not display. StendPlot's code is very elegant, but I cannot make it display anything.

[2020-03-19 12:59] swharden commented on #314
response in #311

[2020-03-19 12:59] #314 closed

[2020-03-19 13:05] swharden commented on #311
Don't forget to set the name of your `<Window />` - I overlooked that at first.

https://github.com/swharden/ScottPlot/blob/d0f0e8eeee437038c5f19942990b4fc3ef23e67e/src/ScottPlot.Demo.WPF/WpfDemos/ManyPlots.xaml#L8

I just wait for @StendProg to post code then I study it 😜

I'm pretty new to WPF so I don't have a great answer. I see this question asked on reddit a lot. Common answers are [pluralsi

[2020-03-19 15:24] StendProg commented on #311
I am also new to WPF, and can't make recomendation. To narrow your search you can add `MVVM` pattern. There is lots of information, if you understand base concept of `MVVM` you can find a lot.
I spend about hour to make my example work, I am also new to `WPF`, have a base understanding of `MVVM`. Code in model haven't any dependencyes on View....

[2020-03-20 00:54] swharden opened #315 "Refactor Bar and Box Plots"
The current bar plots work somewhat, but it's not easy to add new features to them. The bar plot module should be refactored to accomodate several new desired features. This issue unifies #24, #260, and #277. After this module is complete, it can probably be modified slightly to support box plots too (#244) to make it easier to display grouped box plots. Perhaps a single class can be used for bar

[2020-03-20 00:56] swharden commented on #244
I'll close this issue and track progress on box plot refactoring in #315

[2020-03-20 00:56] #244 closed

[2020-03-20 00:57] swharden commented on #260
I'll close this issue and track progress toward this goal in #315

[2020-03-20 00:57] #260 closed

[2020-03-20 00:57] swharden commented on #277
I'll close this issue and track progress toward this goal in #315

[2020-03-20 00:57] #277 closed

[2020-03-20 01:00] swharden commented on #249
Here's an example. I create a new Plottable totally outside the ScottPlot namespace:
https://github.com/swharden/ScottPlot/blob/af33308f6f3a7f90079fe487e21f3de33a7b4f5a/tests/Experimental/BarGraphTests.cs

Then I plotted it with the new `Plot.Add()` function:

https://github.com/swharden/ScottPlot/blob/af33308f6f3a7f90079fe487e21f3de33a7b4f5a/tests/Experimental/BarGraphTests.cs#L95-L99

[2020-03-20 01:00] #249 closed

[2020-03-20 01:08] swharden commented on #309
Auto-scaling an axis is an extremely common task. To make the function easier to locate, I added alias functioned named `AutoAxis()` and `AutoScale()`.

They're marked as obsolete so if a user finds them and tries to use them, they're notified of the correct function to use: `AxisAuto()`

[2020-03-20 01:08] #309 closed

[2020-03-20 01:19] swharden commented on #315
Experimental code is in:
https://github.com/swharden/ScottPlot/blob/master/tests/Experimental/BarGraphTests.cs

### Single Bar Series

[code]

![image](https://user-images.githubusercontent.com/4165489/77128533-cedb4700-6a26-11ea-9b41-36eaa250c047.png)

### Multiple Bar Series (grouped)

[code]

![image](https://user-images.githubusercontent.com/4165489/77128495-ae12f180-6a26-11ea-9775-ce358cf5d4e

[2020-03-21 12:31] swharden opened #317 "pull request and issue templates"
## Pull Request Template Thoughts

It may be easiest to have all new plottables developed in /tests:
* make the new plottable as `/tests/Experimental/PlottableSomething.cs`
* demonstrate how it works in `/tests/Experimental/PlottableSomethingDemo.cs`

_we can create a sample Plottable there that users are encouraged to duplicate as a starting point._

After the PR is fully developed, _then_ we can

[2020-03-21 13:14] swharden commented on #315
Here's what I came up with. The legend module doesn't support it yet, but I think the way to solve that issue is to have something like an `IMultiLabel` that some plottables have, then the legend knows to display multiple labels from a single plottable

I like this because it doesn't require the user to make 2D arrays. It also clearly separates construction of bar series from bar groups.

[code]

[2020-03-21 18:55] swharden opened #318 "refactor Legend system"
When it is time for the legend to be drawn, `Legend.DrawLegend()` iterates through through each plottable and adds one line to the legend (using that plottable's label, line style, and marker shape).

With the emergence of plottables that display grouped data (bar plots and box plots, #315) ***one plottable may need to display several items in the legend***, therefore, how the legend is made needs

[2020-03-22 04:25] swharden commented on #313
Ahh! I think https://github.com/swharden/ScottPlot/commit/6972d32977abab05a468a769729c4d8b30f956dc may have been there for a reason. The demo doesn't auto-axis properly when it starts now:

![image](https://user-images.githubusercontent.com/4165489/77242325-a5abe980-6bd3-11ea-9fe2-76116963f3ad.png)

[2020-03-22 22:26] swharden commented on #318
much cleaner now, and how legend items are generated is more obvious
https://github.com/swharden/ScottPlot/blob/ccd16f4c53641e599868b19c91795432b1550ba1/src/ScottPlot/plottables/Plottable.cs#L10-L20

[2020-03-22 22:26] #318 closed

[2020-03-23 00:19] swharden opened #320 "customize grid line style"
It would be nice to be able to do something like

[code]

[2020-03-23 03:21] #313 closed

[2020-03-23 03:37] swharden commented on #320
I'm so glad I did this! The results are beautiful.

![image](https://user-images.githubusercontent.com/4165489/77278561-07cd2300-6c96-11ea-9d2d-7c0255be4ea2.png)

![image](https://user-images.githubusercontent.com/4165489/77278587-1d424d00-6c96-11ea-8353-032c9dd84e41.png)

[2020-03-23 03:37] #320 closed

[2020-03-23 03:50] #307 closed

[2020-03-23 03:51] swharden commented on #282
no it's not 😕

https://github.com/swharden/ScottPlot/blob/f513756983e4c85e733f9405513676f5a843092b/src/ScottPlot/Style.cs#L38-L46

[2020-03-23 03:51] #282 closed

[2020-03-24 17:56] zrolfs commented on #275
I think this is happening for the new ErrorBarsPlottable that was added. Is there a quick fix?

[2020-03-24 18:01] swharden commented on #275
Thanks for bringing this to my attention! I'll prioritize fixing this and getting it on NuGet.

Something like:
[code]

(let me know if that does the trick)

[2020-03-25 00:52] swharden commented on #275
@StendProg thanks for this tip! I added a `Clear()` method to do this. I also added some methods which accept `Type` and `Type[]`. I think this covers all use cases for `Clear()` now. What do you think?

https://github.com/swharden/ScottPlot/blob/e465cd311870c7d17dbc7b07411bef8bc7326b57/src/ScottPlot/Plot.cs#L234-L275

[2020-03-25 03:48] swharden commented on #315
I think this new box plot is similar/better to the current one, and it should probably replace it in the next NuGet release. I will leave this issue open and keep working on adding more features (like horizontal mode)...

### Single Series
[code]
![image](https://user-images.githubusercontent.com/4165489/77499793-742c5b80-6e29-11ea-8648-2e69b1455693.png)

### Multi-Series
[code]

![image](https://

[2020-03-25 20:56] SeidChr opened #321 "Absolute Text Positioning"
Hi,

i want, additionally to the legend, position a PlotText relative to the legend or plot-frame, and not to the grid. So i want to set an anchor from which the coordinates are counted.

e.G. the "normal" mode counts the coordinates relative to x/y zero, and i wnat to set it to being relative to the top left corner of the legend, or the bottom right corner of the plot.

You think this is can be d

[2020-03-25 21:07] swharden commented on #321
Hi @SeidChr, there's not an easy way to do this currently.

Some type of "annotation" text object which draws on the image itself (rather than the coordinate system) may be useful 🤔 I'll try implementing this a few different ways and see what it looks like! I'll leave this issue ticket open until I explore this topic further.

---

Technically you can do it (even in WinForms) by making a Bitmap, d

[2020-03-25 21:14] swharden commented on #321
I suppose there is another way you could do this with the current implementation. Say you want to draw text in the top right corner. You can use `plt.Axis()` to get the top right corner coordinate (x2 and y2), then plot the text at that coordinate (being careful to set the right alignment).

If the graph is resized, you can move the position of the text (or clear the graph of all text objects and

[2020-03-26 02:24] swharden commented on #315
Wow! Rewriting the vertical rendering functions to render horizontal bar graphs was so much harder than I thought it would be... I think my brain rotated 90º inside my skull 😵 but the output is great now!

### Defining Data Sets & Groups
[code]

### Vertical Grouped Bar Graph
[code]
![image](https://user-images.githubusercontent.com/4165489/77603572-d008ea00-6ee6-11ea-88b9-c1a5c79505af.png)

### H

[2020-03-27 03:53] swharden commented on #315
I keep getting stuck not liking the architecture here. Experimenting with a refactor https://github.com/swharden/ScottPlot/tree/bar-refactor I realized that this task can be simplified if each bar is its own object and has the ability to render itself (horizontally or vertically). Organization (grouping bars into bar series, and grouping those into a multi-series object) is a lot easier too.

Ther

[2020-03-27 15:39] PeterGamma opened #322 "Support of the Scott Hardens (PhD) ScottPlot for the Moxymonitor ANT to Serial Converter to support the GARMIN watch"
I miss support of the Scott Hardens (PhD) ScottPlot for the Moxymonitor ANT to Serial Converter to support the GARMIN watch:

https://www.thisisant.com/forum/viewthread/7074/P15/

Greetings from Peter Gamma (Meditator with a GITHUB):

https://github.com/PeterGamma

but without programming skills.

[2020-03-27 15:57] swharden commented on #322
Hi @PeterGamma, I think ScottPlot can be used for this. However, somebody would need to write C# software to interface the Garmin GPS watch first. This would definitely require programming skills, and is best accomplished by someone who owns a Garmin GPS watch

[2020-03-27 15:57] #322 closed

[2020-03-27 16:19] Minu476 opened #323 "Q:How to fill the area between two Lineplots with a color?"

[2020-03-27 16:20] swharden commented on #323
This topic is addressed in #255 - it's not ready yet, but I plan to implement it soon 👍

[2020-03-27 16:20] #323 closed

[2020-03-27 20:03] PeterGamma commented on #322
Bad luck. For practising meditation, I always have GPS off. For me personally, it is not a GPS watch, but together with a POLAR OH1 and a STRYD foot pod as far as accuracy is concerned an underestimated research grade device, which deserves attention and will be successful sooner or later. Thank you anyway, Scott.

[2020-03-27 22:01] PeterGamma commented on #322
The Vivoactive 3 is currently the best selling watch from GARMIN. Most of the people use it only for a short time. They are cheap on ebay. Compared to an ECG device, a  Vivoactive 3 or Forerunner 235, the inaccuracy is about 5%. Paired to a POLAR OH1, the Vivoactive 3 is as accurate as an ECG device.
https://the5krunner.com/2019/04/06/polar-oh1-review-2019/#PRICING_AVAILABILITY_Polar_OH1_Review
I

[2020-03-27 22:12] swharden commented on #322
For ECG, this software uses ScottPlot. @PeterGamma you may find it useful https://github.com/swharden/SoundCardECG

[2020-03-27 23:15] swharden commented on #277
I added a `horizontal` argument to `PlotBar()` and will publish this on NuGet tonight.

I'm still working on refactoring the box plot module to allow advanced things like stacked plots and displaying scatter plots next to the boxes & error bars (#315) but this is a good stopping point for this ticket.

![image](https://user-images.githubusercontent.com/4165489/77807698-ffdafd80-705e-11ea-9a0a-0cc6

[2020-03-28 00:53] swharden commented on #260
This is perhaps an intellectually unsatisfying solution... but it works! 😅

![image](https://user-images.githubusercontent.com/4165489/77810817-01132700-706d-11ea-9e46-eb601fab85ec.png)

[code]

[2020-03-28 01:00] swharden commented on #275
released in 4.0.24

[2020-03-28 01:00] #275 closed

[2020-03-28 14:14] swharden opened #324 "update Histogram to use PopulationStats module"
mean and standard deviation code is currently duplicated in Histogram module

[2020-03-28 23:28] swharden commented on #315
I found an architecture I think I like now.

(this is fake data)

![image](https://user-images.githubusercontent.com/4165489/77836081-5c0a5400-7129-11ea-9904-b6ce25748445.png)

The plottable for this is actually pretty simple. It holds `Population` (previously `PopulationStats`) objects and keeps track of their grouping, but it doesn't render them.
https://github.com/swharden/ScottPlot/blob/0482a6

[2020-03-29 01:05] swharden opened #326 "include GapMinder data"
GapMinder is a really interesting website which has data that might be useful to make accessible for practice and to use in demo plots.
https://www.gapminder.org/data/

For example, median age of the population, per country, per year

[2020-03-29 16:15] swharden commented on #315
I think all the parts are here now. It just needs an intelligent function in the Plot module. This is surprisingly complicated because there are so many options 🤔

### Single Series: `PopulationSeries` = `Population[]`
![image](https://user-images.githubusercontent.com/4165489/77854203-d0d79f80-71b6-11ea-9692-f3f340b4055b.png)

### Multi-Series: `PopulationMultiSeries` = `PopulationSeries[]`
![ima

[2020-03-29 19:12] swharden opened #327 "GDI+ rendering glitch produces diagonal lines that affect grid"
GDI+ produces rendering glitches that appear as unwanted diagonal lines when displaying perfectly horizontal lines that extend off the Bitmap edge _when anti-aliasing is off_. This was previously observed.

I'm not sure why this only now started happening.

![image](https://user-images.githubusercontent.com/4165489/77858110-55361c80-71cf-11ea-87c3-72a59a30571b.png)

It's worse in WinForms:

![imag

[2020-03-29 19:26] swharden commented on #327
It seems there are 3 two fixes:
1. enable anti-aliasing
2. tilt the line slightly (0.5 px)
3. don't let the line touch the 1px edge of the Bitmap

I fixed the grid using strategy 2.

[2020-03-29 19:26] #327 closed

[2020-03-29 20:23] #324 closed

[2020-03-29 20:23] swharden commented on #326
Actually, maybe later. There's a lot to prioritize over this right now.

[2020-03-29 20:23] #326 closed

[2020-03-29 20:51] swharden commented on #315
I think this is in a good place now. This got released in ScottPlot 4.0.25. Check out the cookbooks to see what's possible now:

### Bar Plot
This is a relatively simple plot type. It's just for bar plots, and it does not display population details (like scatter plots of individual data points).
http://swharden.com/scottplot/cookbooks/4.0.25/#PlotTypes_Bar_Quickstart

### Box and Whisker Plot
This

[2020-03-29 20:51] #315 closed

[2020-03-29 20:52] swharden commented on #260
following up, ScottPlot 4.0.25 has some new related features. Check out the cookbooks to see what's possible now:

### Bar Plot
This is a relatively simple plot type. It's just for bar plots, and it does not display population details (like scatter plots of individual data points).
http://swharden.com/scottplot/cookbooks/4.0.25/#PlotTypes_Bar_Quickstart

### Box and Whisker Plot
This has extensive

[2020-03-29 20:52] swharden commented on #277
following up, ScottPlot 4.0.25 has some new related features. Check out the cookbooks to see what's possible now:

### Bar Plot
This is a relatively simple plot type. It's just for bar plots, and it does not display population details (like scatter plots of individual data points).
http://swharden.com/scottplot/cookbooks/4.0.25/#PlotTypes_Bar_Quickstart

### Box and Whisker Plot
This has extensive

[2020-03-29 20:52] swharden commented on #244
following up, ScottPlot 4.0.25 has some new related features. Check out the cookbooks to see what's possible now:

### Bar Plot
This is a relatively simple plot type. It's just for bar plots, and it does not display population details (like scatter plots of individual data points).
http://swharden.com/scottplot/cookbooks/4.0.25/#PlotTypes_Bar_Quickstart

### Box and Whisker Plot
This has extensive

[2020-03-30 03:11] Resonanz commented on #280
Hi Scott, the plotting stuff is working well after a little help from yourself and another. Re this thread... I'm not such a fan of right-click to show an enlargement as it requires a non-left mouse click + another mouse click, then another mouse movement and click to close. Thus I would vote for a mouse hover. That said, I'm not sure how this would work... it could be annoying to have things popp

[2020-03-30 09:49] SeidChr opened #328 "Fill Area between Signals or Signal & Zero"
Hi,

i would like to make a plot where a range of possible outcomes is marked. this range has a upper and lower signal, and preferably a filling color.

One other type of Charts you could enable with the same technique is the Area Chart:
![image](https://user-images.githubusercontent.com/1927076/77898722-dfd45580-727b-11ea-87ba-df163b184517.png)
which uses only one signal and shows the area betwee

[2020-03-30 14:51] leonyu1010 opened #329 "How can ScottPlot be used in Xamarin.Forms?"
I would like to try using this library in a Xamarin.forms project.  Do you think it is feasible?
I am thinking I need to add a ScottPlot.WpfPlot equivalent for Xamarin.forms.  do u think something like  SkiaSharp SKCanvasView is going to work?

[2020-03-30 14:55] bonzaiferroni commented on #277
These look fantastic.

[2020-03-30 14:56] swharden commented on #329
hey @leonyu1010

The ScottPlot package targets .NET Standard 2.0 so it should install on Xamarin.forms.

Using code like this you can create a plot as a Bitmap in memory:

[code]

From there perhaps you can use a library like SkiaSharp to display the Bitmap: [Bitmap Basics in SkiaSharp](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/graphics/skiasharp/basics/bitmaps).

If yo

[2020-03-30 14:59] leonyu1010 commented on #329
@swharden thanks for the quick reply. I will try it out.

[2020-03-30 15:00] swharden commented on #328
Hi @SeidChr, thanks for suggesting this! I'm indeed working on this functionality as part of #255, so I'll close this issue and leave that one open.

I've been pretty behind on this feature because I've been woking on #315 for the last couple weeks. Now that it's complete, this is next on the docket!

[2020-03-30 15:00] #328 closed

[2020-03-30 15:08] swharden commented on #329
Sounds great - I look forward to hearing what you find out! I'll close this issue unless we hit a snag along the way.

[2020-03-30 15:08] #329 closed

[2020-03-31 14:56] swharden opened #330 "ScottPlot.WinForms - target a single .NET Framework"
Right now the ScottPlot.WinForms targets:
* .NET Framework 4.6.1
* .NET Framework 4.7.2
* .NET Framework 4.8.0
* .NET Core 3.0

https://github.com/swharden/ScottPlot/blob/b43efc0b4a0bef339ddcdb5a5314d1662dfc01dd/src/ScottPlot.WinForms/ScottPlot.WinForms.csproj#L4

Are all those .NET frameworks necessary? I can probably remove 4.7.2 and 4.8 as targets and just say _"ScottPlot.WinForms supports .NET

[2020-03-31 15:01] swharden commented on #280
Hi @Resonanz, I'll add the "open in new window" option to the existing right-click menu and it won't be disruptive to your application. It will be useful for some of my applications which show really tiny graphs, and rather than have the user interact with them I'll disable pan/zoom and have the user right-click/new window if they want to interact with the graph.

For your application, perhaps you

[2020-03-31 15:08] ismdiego opened #331 "MouseDoubleClicked event misses MouseEventArgs"
When capturing the MouseDoubleClicked event, I noticed that the MouseEventArgs that is fired is hardcoded to null instead of the real MouseEventArgs which originated the event.

The fix is really simple:
[0001-Fix-null-MouseEventArgs-in-MouseDoubleClicked.zip](https://github.com/swharden/ScottPlot/files/4409957/0001-Fix-null-MouseEventArgs-in-MouseDoubleClicked.zip)

[2020-03-31 15:15] swharden commented on #331
Hi @ismdiego, thanks for reporting this! I'm pasting the content of the patch here for reference.

[code]

[2020-04-01 02:50] swharden opened #332 "improve cookbook web page"
the output of the cookbook can be improved:

- [x] generate markdown (not HTML) and use [md2html-php](https://github.com/swharden/md2html-php) to display it
- [x] add basic information to the top of the page: describe what ScottPlot is, how to install it (NuGet), and link to the quickstarts.
- [x] add a star button to the website https://buttons.github.io/
- [x] update the links and thumbnails for

[2020-04-01 17:12] PeterGamma commented on #322
Thank you Scott. I know SoundCardECG, it s a great device. To honor your do it yourself ECG, I mentioned it in the GARMIN forum. Thank you Scott for your great work and your commitement.

[2020-04-01 17:18] PeterGamma commented on #322
Here is the link:
https://forums.garmin.com/developer/connect-iq/f/discussion/209439/eventhubapp

[2020-04-02 00:09] PeterGamma commented on #322
Scott:

https://www.swharden.com/wp/about-scott/

developed the sound card ecg:

https://www.youtube.com/watch?v=sP_-f5nsOEo

and the ScottPlot:

https://github.com/swharden/ScottPlot

There are now two options availble for a live-stream from a GARMIN watch:

1. Moxymonitor ANT to Serial Converter which is commercially available (for MATLAB):

https://www.thisisant.com/forum/viewthread/7074/

2. G

[2020-04-04 07:09] PeterGamma commented on #322
I suggest the developement of a new GARMIN watch app called "real-time Namaste". But it could also suggest the developement of a new app called "EventHubApp bridge to Dr. Scott Hardens Scott Plott".

https://forums.garmin.com/developer/connect-iq/f/app-ideas/220116/combining-namaste-app-and-eventhubapp-to-make-a-live-stream-to-dr-hardens-scott-plott

[2020-04-04 07:34] PeterGamma commented on #322
For me personally, this issue is not resolved. It is a real problem which makes me suffer.
Maybe we will find a c # programmer somewhere at Garmin, Microsoft, MATLAB or at the research institutes, or among ScottPlott lovers. Is it possible to open this issue again?

[2020-04-05 00:43] swharden opened #333 "ScottPlot.WPF should multi-target .NET Framework and .NET Core"
right now the ScottPlot.WPF project (which provides the `WpfPlot` control) only targets .NET Core 3.0. Since ScottPlot targets .NET Standard, it should be possible to dual-target .NET Core and .NET Framework with this package.

Then I can update the demo to use .NET Framework 4.6.1 because that's more commonly available on more peoples' computers at the moment. Actually, 4.7.2 is a better choice b

[2020-04-05 01:46] #330 closed

[2020-04-05 01:46] #333 closed

[2020-04-05 01:47] swharden commented on #332
working a little more on https://github.com/swharden/md2html-php but this will all get done tonight

[2020-04-05 01:47] #332 closed

[2020-04-05 03:01] Resonanz commented on #333
Will they work on Core 3.1 Scott?  And will NuGet packages use 3.1?

[2020-04-05 03:34] swharden commented on #333
Yep, anything newer will still work. .NET Framework 4.6.1 and .NET Core 3.0 are the ***minimum*** supported functions, so you should be good! 👍

[2020-04-05 13:30] swharden opened #334 "cookbook improperly renders multi-plot"
[code]

http://swharden.com/scottplot/cookbooks/4.0.26/readme.original.md.html#advanced

[2020-04-05 13:57] #334 closed

[2020-04-05 13:57] swharden commented on #334
Fixed
http://swharden.com/scottplot/cookbooks/4.0.26/#advanced

[2020-04-05 15:32] swharden commented on #255
It took a while, but there's some movement on this. I just finished creating a `Polygon` object, and this code can be extended to make it easier to plot shaded areas between curves. I'll keep working on this.

![image](https://user-images.githubusercontent.com/4165489/78502807-f0c80f80-7730-11ea-81db-a6de7fa6ea58.png)

[code]

[2020-04-05 15:52] swharden commented on #255
@ckovamees this might get a little more refined (watch the cookbook over the next few days), but I think this is a pretty good result! I'll close this issue since the core problem is solved.

![image](https://user-images.githubusercontent.com/4165489/78503304-cf1c5780-7733-11ea-9cc0-be2318eca882.png)

[code]

[2020-04-05 16:25] #280 closed

[2020-04-05 16:49] swharden commented on #310
I went with option 2. Multiplier and offset notation are both now disabled by default.

The layout adjusts (based on tick label size) on every MouseUp and ScrollWheel, but it's not as jarring as I thought it would be. I think this is an improvement, and more consistent with the "principle of least astonishment" on behalf of users.

_look closely at the left edge of the plot as the axis labels chan

[2020-04-05 16:49] #310 closed

[2020-04-05 17:54] swharden commented on #321
@SeidChr created new methods which let the user accomplish what you suggested in your original post. I'm using "annotation" to describe text fixed to the _figure_ instead of the _data area_, and as you drag the plot around the annotations stay fixed.

To be able to edit the annotation once it's plotted, save the `PlottableAnnotation` object returned by `PlotAnnotation()` and write to its `label` p

[2020-04-05 17:54] #321 closed

[2020-04-05 18:00] swharden commented on #331
@ismdiego I just made the change and it will be on NuGet shortly. Thanks again! --Scott

[2020-04-05 18:00] #331 closed

[2020-04-05 19:14] swharden commented on #308
To do this well will require a lot more work than I initially expected:

I can't simply open a plot in a new viewer because that would mean two plots are sharing the same Bitmap and Graphics. Instead, I have to copy the plot and display plot2.

However, this is extremely difficult. The settings module is loaded with many objects (each with many properties), and they don't have an easy way to copy

[2020-04-05 19:14] #308 closed

[2020-04-05 21:11] #317 closed

[2020-04-05 22:09] SeidChr commented on #321
Hi, thx!
Is there a way to fetch the size of the legend, so i can put the label right next to it?

[2020-04-05 23:00] swharden commented on #321
This might need a little tweaking but it's a good start. If you want something more custom it might require modifying the source code of the legend (or creating a custom legend plottable). That said, this outcome is pretty close to what you're seeking

This code is live on NuGet now btw

![image](https://user-images.githubusercontent.com/4165489/78512078-a31ec780-776f-11ea-9a49-afc42ca5265f.png)

[2020-04-05 23:04] SeidChr commented on #321
Looks good! Sufficient for my needs :)
Thx again!

[2020-04-06 16:47] deiruch opened #336 "Percentage tick labels"
**What can we do to make ScottPlot better?**
I'm trying to do a Scatter plott with percentages on both axes. It'd be great it ScottPlot supported conversion from "0.3184" to "31.8%" with a simple flag.

[code]

A more flexible, alternative solution of #297 might help in this case as well.

[2020-04-06 17:07] swharden commented on #336
Hi @deiruch thanks for the suggestion! I think this is true, and a flexible option that also supported currency would be nice. I'll think about the best way to implement this and make an update soon!

[2020-04-06 22:22] swharden commented on #336
Hey @deiruch, thanks again for the suggestion! I think this solution is an improvement across the board.

Users can now define a [standard numeric string format](https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-numeric-format-strings) for X and Y tick labels. This lets users display ticks using scientific notation, percentage, currency, etc. and also control the precision of th

[2020-04-07 08:35] deiruch commented on #336
Fantastic! Exactly what I was looking for!!!

[2020-04-07 08:54] Antracik opened #337 "Custom ContextMenu overridden by default one (WpfPlot)"
As of updating to the latest ScottPlot (4.0.27) my custom context menu in WPF is no longer accessible and being overridden by the default provided one.

[2020-04-07 12:29] swharden commented on #337
Hi @Antracik, thaks for reporting this! The FormsPlot control has had an overridable context menu for some time, but the WpfPlot control just got a context menu in this last release https://github.com/swharden/ScottPlot/commit/298a0a2cae6c7c1b7858132f83e4e79a77947264 which is what caused this issue.

[code]

To put some code with this issue, if you try to add your own context, the XAML editor prod

[2020-04-07 12:56] swharden commented on #337
@Antracik, I made some changes that improved how users can add a custom right-click menu to FormsPlot and WpfPlot. There is now a demo application for FormsPlot and WpfPlot to demonstrate this.

My understanding of the original problem is that WpfPlot's default context menu was defined in XAML and was not overridable. The solution was to make the right-click menu a property which can be replaced b

[2020-04-07 13:37] Antracik commented on #337
I did try something like the code given above, but with the ContextMenu property exposed by WpfPlot inheritance of UserControl, while I'm sure that the given solution will work is there any reason as to why the already exposed ContextMenu property is not used?

[2020-04-07 14:50] swharden commented on #337
@Antracik this is good suggestion! It was not trivial under the hood because I had to add some logic to intercept the right-click so the menu does not open when right-click-drag zooming, but I think the solution now looks good and is simple to interface.

What do you think?

### WinForms (set the ContextMenuStrip)
[code]

### WPF (set the ContextMenu)
[code]

[2020-04-07 15:28] Antracik commented on #337
This is something else that I had an issue with but as it didn't bother me that much  I forgot to mention it.

The solution looks good, thank you for your quick help in the matter!

[2020-04-07 21:34] ckovamees commented on #255
Thanks Scott, worked great for me.

I think you added a DataSet class that screwed me over a bit ;-) but I renamed my class. I also had to create a test project to understand howto create the area between two curves. I ended up creating a list, adding the first curve and then reversing the second curves' array to make a continuous 'polygon'.

Again - thanks for implementing this - stay healthy and

[2020-04-07 21:48] swharden commented on #337
Just published a NuGet package. It should be live shortly. Let me know if anything else comes up.

Thanks again @Antracik!

[2020-04-07 21:48] #337 closed

[2020-04-07 21:48] swharden commented on #336
Just published a NuGet package. It should be live shortly. Let me know if anything else comes up.

Thanks again @deiruch!

[2020-04-07 21:48] #336 closed

[2020-04-07 21:51] swharden commented on #255
I forgot about this! Do you think that code would be useful to share here? I should add a similar example to the cookbook.

Maybe I should make a little tool to return 1 polygon given two curves 🤔

[2020-04-07 22:43] ckovamees commented on #255
I think a utility method would make it easier for folks. It's trivial once you know how to do it... There could potential be problems if x-values aren't common. (?)
This is what I did to try it.

`static double[] datesOrig = { 43839, 43840, 43843, 43844, 43845, 43846, 43847, 43851, 43852, 43853, 43854, 43857, 43858, 43859, 43860, 43861, 43864, 43865, 43866, 43867, 43868, 43869, 43870, 43871, 43872

[2020-04-08 01:22] swharden commented on #255
@ckovamees I created `Plot.PlotFill()` method which handles the confusing array manipulation behind the scenes. Now you can just give it a curve and it will shade between the curve and the baseline (which the user can set). You can also give it two curves (they don't have to be the same number of points) and it will shade between them.

What do you think?

[code]

### PlotFill() between a curve an

[2020-04-08 01:24] swharden commented on #255
... PlotFill() just creates the arrays to shade the right region, then calls PlotPolygon(). It's not as fancy as it looks

Also, this solution still doesn't actually support the "over/under" display style you initially posted about. I wonder if that can be added easily somehow 🤔

[2020-04-08 02:32] ckovamees commented on #255
That's awesome!

Perhaps optional options to PlotFill() for when the first set (really y-value) xs/sin is greater than xs/cos. positiveFillColor: negativeFillColor: or greaterFillColor:/lesserFillColor: - not ideal.

I never like to have hardocded number of options. Just two sets of arguments in this case, I usually prefer lists or arrays of options. Not sure how that would work though...

[2020-04-08 17:55] swharden opened #338 "Demo: Improve scrollwheel zoom vs. scroll example"
I got an email from Zach suggesting that ScottPlot mouse interactivity is odd when using the WpfPlot control inside a ScrollViewer:

It might be good to figure out how to do this and add an example for the demo application.

[2020-04-08 18:13] swharden opened #339 "seaborn style"
Seaborn style looks nice. Demonstrate how to make a graph that looks like this.

https://seaborn.pydata.org/tutorial/aesthetics.html

![image](https://user-images.githubusercontent.com/4165489/78818687-0d6b7e00-79a3-11ea-98c3-f59d9496c070.png)

[2020-04-10 00:19] swharden commented on #255
@ckovamees both those options may work, but you're right they're not ideal because they add unnecessary complexity to the `PlotFill()` method that doesn't seem to belong there if users aren't going to use this advanced feature.

What about a separate `PlotFillTwoColor()` method? Under the hood it just splits the user's array into two separate arrays (for above/below the baseline) then calls `PlotF

[2020-04-10 01:10] #339 closed

[2020-04-10 01:21] swharden commented on #338
I now better understand this problem. Typically the mouse scroll wheel moves the ScrollViewer up and down. It still does, but those scroll events are also getting detected as scroll-wheel-zoom events.

I will fix this by adding something like:
[code]

[2020-04-10 11:12] SeidChr opened #340 "Difference between Linux and Windows rendering"
Using windows for development and linux via github workflows, it seems that there are a couple of differences in the rendered output, you may want to address, so the output becomes more reliable.

![plot-germany-linux](https://user-images.githubusercontent.com/1927076/78986751-4e42ce80-7b2c-11ea-908b-0958922ebd40.png)
![plot-germany-windows](https://user-images.githubusercontent.com/1927076/789867

[2020-04-10 11:16] SeidChr opened #341 "Polygon fill alpha not applied on legend"
**Describe the bug**
fill color of the polygon looks different on the polygon than it looks on the legend:
![image](https://user-images.githubusercontent.com/1927076/78987130-67984a80-7b2d-11ea-8ca7-4142baa3f69d.png)

**To Reproduce**
use fill alpha on polygon

[2020-04-10 11:28] SeidChr opened #342 "Polygon is a slight bit shorter than a signal-line"
**Describe the bug**
when drawing a signal on the top line of a polygon, the signal is just a tiny bit longer than the polygon is wide, even when using the exact same values on the x axis.
(please verify this, because the signal tics is calculated in scottplot, and the polygon tics are calculated manually (+1d))

**To Reproduce**
draw a signal on the top line of an polygon

How i increment the tic

[2020-04-10 11:43] SeidChr opened #343 "PlotFill() between two curves"
**What can we do to make ScottPlot better?**

instead of just taking an array of xs and on of ys, i'd love to see a strong simplification of that api, so you can pass two sets of ys and the plot will be drawn between them. Like a "SignalRangePolygon" ?!

Im sure you can derive something from the code i wrote for my project, using your polygon api:
https://github.com/SeidChr/COVID-19-Report-Data-Pi

[2020-04-10 17:13] SeidChr opened #344 "Define order of legend items"
**What can we do to make ScottPlot better?**

When i want to draw something OVER something else, i need to add it to the plott later, which will move the legend-entry after the other entry.
Now i have no way of saying i want that thing to be on top of the list, which would be helpful in some circumstances.

Sample:
![image](https://user-images.githubusercontent.com/1927076/79008560-ef964880-7b5d-1

[2020-04-10 23:04] swharden commented on #343
@SeidChr this might already exist. PlotFill() has two overloads. You can do this:

[code]

You could pass in the same `xs` twice if they're identical, but keeping them separate like this lets you also shade between two lines that have different X values.

This is configurable by setting the optional `baseline` argument when calling PlotFill()

[code]

Do these two solutions solve your issue?

Than

[2020-04-10 23:31] swharden commented on #344
Hey @SeidChr, thanks for this useful suggestion! This will take some serious effort to accomplish (see below) and may take some time to fully implement. However, I just added a new argument which may help you out:

[code]

Does this get you sufficiently close to your goal?

## big picture / new direction for this issue

The legend is drawn differently than almost every other item in ScottPlot, so

[2020-04-11 00:07] SeidChr commented on #344
Reverse order should be fine in my case!

[2020-04-11 00:08] swharden commented on #342
Hey @SeidChr, thanks for reporting this! I got thrown off by this one...

## First thought (System.Drawing)
* perhaps lines and polygon fills don't match perfectly
* perhaps the "cap" on lines (which is a thing, and could be disabled) makes them hang over

I tested this by adding a test that exclusively uses System.Drawing to draw a line on the edge of a polygon. To my surprise, it works perfectly

[2020-04-11 00:08] #342 closed

[2020-04-11 00:10] SeidChr commented on #343
Sounds good, didn't know about plotfill.
Will check tomorrow 😊

[2020-04-11 00:35] swharden commented on #340
Thanks for pointing this out @SeidChr! Aside from ensuring things compile and basic tests pass on Linux and MacOS I don't often get to directly visualize the output so your images are very useful.

**You didn't specifiy which is Linux and which is Windows** but I'm guessing the top one is Linux because it's the most messed up 😅

First, I think all the problems are because the default font is diffe

[2020-04-11 00:48] swharden commented on #341
I think this one's in the bag! I may have also fixed the rendering bug that made the legend have a white block in the middle on Linux. Want to check this one out on your Linux system and see how it looks?

![image](https://user-images.githubusercontent.com/4165489/79031398-72be9b00-7b6c-11ea-9d93-20c60f6c0fb3.png)

I'm pretty confident this did the trick, but feel free to open this issue again if

[2020-04-11 00:48] #341 closed

[2020-04-11 00:55] swharden commented on #344
Awesome! I'll release this on NuGet some time this weekend.

Rather than bend this issue to accomodate a new topic, I'll close it and open a new one later to address refactoring of the Legend module to make it a Plottable.

[2020-04-11 00:55] #344 closed

[2020-04-11 01:15] swharden commented on #255
I went ahead and did this - it looks good!

Thanks again for your initial suggestion @ckovamees, it led to a lot of great improvements for ScottPlot 👍

[code]

[code]

![image](https://user-images.githubusercontent.com/4165489/79031851-eada9000-7b6f-11ea-99f5-9292ebadb6e6.png)

[2020-04-11 01:15] #255 closed

[2020-04-11 01:19] swharden commented on #343
It is one of the newest things in the library so it was easy to miss! #255

I'll bet it'll solve your issues, but if not don't hesitate to open this issue up again. Good luck!

[2020-04-11 01:19] #343 closed

[2020-04-11 08:09] SeidChr commented on #340
Morning.
It was in the file name and is now in the alt text. U guessed correctly. The first is Linux 😊
Will see what changing the font does later today 😊

[2020-04-11 08:14] SeidChr commented on #340
I assume the difference in vertical ticks comes through the different heights of the diagrams themselves. But maybe also partially be caused by different font sizes

[2020-04-11 08:47] SeidChr commented on #342
I actually can see it in all of your screenshots 😅
its not as extreme as on my sample though.

it took it to the gimp, but its still a tough thing to see due to the gradient
![image](https://user-images.githubusercontent.com/1927076v/79039363-05991d00-7be1-11ea-88f1-2bba2299095e.png)

seems like i have to debug this

[2020-04-11 09:18] SeidChr commented on #342
calculation of the day tics xs seems to be fine
![image](https://user-images.githubusercontent.com/1927076/79039948-28c5cb80-7be5-11ea-8a9e-745fc1831752.png)
debugging the start i pass into PlotSignal: 43852
+79 gives the 43931

are you doing any dividing on the sampleRate calculation?
might be some rounding issue on the higher scales

[2020-04-11 10:12] SeidChr commented on #342
Ok, i tried replacing PlotSignal by PlotScatter, which indeed shows the exact same behavior.
Then i realized, that the first point of the scatter also does not draw directly ON the tic line, but starts right of it. So i thought, somewhere in the calculation everything is shifted just a little bit.

In the end I worked around this now, by shifting all y-tics to the left by 0.05, which gives a good

[2020-04-11 10:26] SeidChr commented on #343
I just realized PlotFill is not available in .28 😞
Seems like there happened a lot in the #255 ticket since i have last seen it.
Will wait for the next release then..

maybe you could add a "beta" release line for your dev builds? :)

[2020-04-11 10:32] SeidChr commented on #341
looks promising!
its a hazzle to use your dev code for developing this. ill wait for the release to test it.

[2020-04-11 11:00] SeidChr commented on #340
Changing the font did not have an effect on the label or tix. Though im not applying this now.

[2020-04-11 14:02] swharden commented on #341
Use whatever workflow works best for you, but using the latest version and updating with git seems easier than manually updating with NuGet on every release
https://github.com/swharden/scottplot#build-scottplot-from-source-code

[2020-04-11 14:11] swharden commented on #342
I'm glad to hear you solved this issue - your new plot looks great!

I'll make a new test case for this and post the results here shortly. Thanks for the suggestion!

If you haven't used tests in visual studio before, I recommend checking it out. Show the test explorer (view -> test explorer), then just right-click a test, hit run, and view the output.

This is definitely a faster workflow than de

[2020-04-11 14:16] swharden commented on #342
The output is identical actually! This is a good sign that ScottPlot is producing the desired output even when large numbers are used.

[code]

![image](https://user-images.githubusercontent.com/4165489/79046154-34ad8f80-7bdd-11ea-8d27-4ab05d4629df.png)

[2020-04-11 14:19] swharden commented on #343
This might happen when I introduce large, breaking changes for 4.0 -> 4.1, but is unnecessary most of the time because it's pretty trivial to just use the latest source code. I know I already pointed you to do this link, but I'm adding it here to benefit future readers of this issue:

https://github.com/swharden/ScottPlot#build-scottplot-from-source-code

[2020-04-11 15:00] swharden opened #345 "figure out how to view Azure Pipelines cookbook images"
Azure Pipelines is running all the tests on every commit, and this includes rebuilding the cookbook. I want to see what the output figures look like on Linux and MacOS.

Unfortunately, it seems Azure Pipelines is incapable of publishing build artifacts from NUnit tests projects (which ScottPlot uses).

https://docs.microsoft.com/en-us/azure/devops/pipelines/test/collect-screenshots-and-video?view=

[2020-04-11 15:07] swharden commented on #340
I created a new test to let me inspect how `Graphics.MeasureString()` works on different operating as it runs in my Azure build pipeline. Vertical dimensions for size-14 default fonts on Mac/Linux/Win are 20/22/27 px. Doesn't seem hugely different, but I still think enough to be causing your differences. I'll keep working on this...

[code]

[code]

[code]

I've been doing all my development with

[2020-04-11 15:36] SeidChr commented on #345
I upload my Image output to an azure blob storage to make them publicly available. Sadly the GitHub artifacts are zipped and thus not really directly displayable with a browser

[2020-04-11 15:38] swharden commented on #345
@SeidChr thanks for the tip! I'll take a look at your repo for hints on how to do this. I'm pretty new in this area.

I figured out how to display individual test output through the web interface. It was pretty convoluted...

![image](https://user-images.githubusercontent.com/4165489/79048145-fc13b300-7be8-11ea-8d91-176b74244005.png)

[2020-04-11 15:43] ckovamees commented on #255
Scott, the turnaround is amazing. This package/tool is great and your support is really phenomenal.

I don't think I expressed myself very well.

I was really looking for your PlotFill() function that would be independent of the baseline. In your Sin/Cos example above it would be fillColorAbove when Sin is larger than Cos and fillColorBelow when Cos is greater than Sin.

What you have provided so

[2020-04-11 16:16] swharden commented on #345
A better way to do this was to use the existing tests which save the whole cookbook and additional test images in the output folder, and publish the whole output folder as an Azure Pipelines build artifact.

I created a separate artifact for Linux, MacOS, and Windows to make it easy to compare... and I can already tell MacOS has some issues 😅 #340 but as far as this issue is concerned, we are in a

[2020-04-11 16:16] #345 closed

[2020-04-11 16:25] swharden commented on #340
Thanks to the new build system #345 we can see what the output looks like on different operating systems. This will help a lot toward troubleshooting moving forward.

I think all the differences between platforms are simply differences in available fonts. Since font measurements determine a lot of elements of the layout, the effect of different fonts ripples into differently-placed components.

I

[2020-04-11 16:29] swharden commented on #345
@SeidChr in response to your earlier comment about preview build NuGet packages, I exposed the build folder in Azure Pipelines which contains bleeding-edge NuGet packages built after every commit is posted to GitHub.

If you're adventurous you're welcome to give those a try!

![image](https://user-images.githubusercontent.com/4165489/79049177-ee156080-7bef-11ea-8ae0-8d9bf360bfc1.png)

[2020-04-11 20:20] swharden commented on #340
Wow, what a rabbit hole this has been!

It seems System.Drawing.Common can't render bold fonts on Linux, so the default title style will look different.

Otherwise, we are getting a lot closer now. Maybe a few pixels away from ideal...

![Test_Plot_WithOsInfo (8)](https://user-images.githubusercontent.com/4165489/79054043-d8b02e80-7c0f-11ea-9e99-50c47a2857c1.png)

![Test_Plot_WithOsInfo (9)](https

[2020-04-11 20:33] swharden commented on #340
I added some pixel-level tweaks for Linux and MacOS. I'll release this in a new NuGet package in a few minutes.

Awesome improvement @SeidChr, thanks again!

![Test_Plot_WithOsInfo (11)](https://user-images.githubusercontent.com/4165489/79054346-06967280-7c12-11ea-8129-454126c80de6.png)

[2020-04-11 21:04] SeidChr commented on #340
You have noticed that the dots are not correctly positioned on the curves, right? 😁

[2020-04-11 21:05] swharden commented on #340
💀

[2020-04-12 19:36] Tarneil commented on #2
The thread is old, but the new version is still appreciated.

[2020-04-12 20:49] Minu476 opened #346 "financial chart improvements"
**What can we do to make ScottPlot better?**

First thank you Dr. Scott for your extreme efforts and amazing talent to make such great improvements in this library.

I am trying it now and find following small issues:

1) To make and overlay of candlestick charts( 5 minute,hourly and diay for example) with proper candle start time and end time i have to modify your library to make candle with base

[2020-04-12 21:10] swharden commented on #346
Hi @Minu476, I'm glad you are enjoying ScottPlot!

All 3 of your notes are related to challenges associated with using DateTime as horizontal units. I recommend not doing this if you want fine-tuned control of your plot, and instead using a series of ascending numbers for each candlestick: 1, 2, 3, etc.

I'm not sure I fully understand the concern. Can you add a screenshot and/or code sample to he

[2020-04-12 21:20] swharden commented on #346
Originally I didn't understand your title, but I do now:
_EvilPlot - Combinator for Graphics_ is a plotting library for Scala.

* https://cibotech.github.io/evilplot/
* https://github.com/cibotech/evilplot

[2020-04-12 21:29] Minu476 commented on #346
Hi Scott,
Thank you for fast reply and great suggestions.
I had a typo, the width of candle now is fixed and calculated based on plot
data for all bars. For overlaying candles of different interval will be
great that the candle width be based on start time and end time of each
candle, so will be calculated from data.

with kind regards

Nasser

On Sun, Apr 12, 2020 at 2:11 PM Scott W Harden <notif

[2020-04-12 21:58] swharden commented on #346
I think I understand your request. Currently you can create and plot candles like this:

[code]

![image](https://user-images.githubusercontent.com/4165489/79080941-fef4cd80-7ce6-11ea-949f-efc21342670f.png)

However, you would like each candle to have its own "width" property which you could define. This way some candles could be wider than others. Is this a good summary of your request?

[2020-04-12 22:11] swharden commented on #346
If I create an OHLC constructor overload has a new argument for width:

[code]

You could toggle whether or not that width is used to display the candles:
[code]

![image](https://user-images.githubusercontent.com/4165489/79081172-e1c0fe80-7ce8-11ea-81db-ff4bcf3724a0.png)

What do you think of this solution?

[2020-04-12 22:19] Minu476 commented on #346
Yes good idea, that exactly what I wanted!  Also note that when I plot
candle with bigger time span I like to plot it transparent. So I can see
which candles are behind it.
Thank you.

On Sun, Apr 12, 2020 at 3:11 PM Scott W Harden <notifications@github.com>
wrote:

[2020-04-12 22:40] Minu476 commented on #346
For X axis if  we add a property as Indexed = true/false then no matter
what data type is in Xs[]  (date or double)  sorted data will be indexed
and potted.

On Sun, Apr 12, 2020 at 3:19 PM Nasser Towfigh <nassertowfigh@gmail.com>
wrote:

[2020-04-12 22:42] swharden commented on #346
Regarding color and transparency, I made a change so you can use custom colors (including those with transparency).

[code]

[code]

![image](https://user-images.githubusercontent.com/4165489/79081627-3c5c5980-7ced-11ea-9fe5-48019754de80.png)

You can use this to plot a semi-transparent series over an opaque one. If you only want wide days to be transparent, put wide days all in one series and nor

[2020-04-12 23:03] swharden commented on #346
I like this idea. I added a `sequential` argument. What do you think?

PS: images/text usually display better if you use the GitHub issue page to write messages instead of email https://github.com/swharden/ScottPlot/issues/346

[code]
![image](https://user-images.githubusercontent.com/4165489/79081960-22704600-7cf0-11ea-80c0-f8d60229c7ac.png)

[code]
![image](https://user-images.githubusercontent.

[2020-04-12 23:29] Minu476 commented on #346
fantastic!

On Sun, Apr 12, 2020 at 4:03 PM Scott W Harden <notifications@github.com>
wrote:

[2020-04-12 23:59] swharden commented on #346
Excellent! I'll close this issue now and this feature will make it in the next NuGet release. Thanks again for the suggestion @Minu476

[2020-04-12 23:59] #346 closed

[2020-04-13 01:16] swharden commented on #340
Actually after a bunch of testing I realized this is an obscure bug that only affects low density Signal (not scatter) plots. It probably has a very low impact. Either way, it's fixed now. Thanks for pointing it out!

[2020-04-13 01:16] #340 closed

[2020-04-14 01:01] Minu476 opened #348 "XAxis for Financial plots must allow overlay of candlestick and technical indicators such as SMA or Bollinger bands"
Financial charts normally use date time for xAxis. Scottplot does not support xAxis of type Datetime for plotFill/plotPolygon.
overly of different time interval on same chart with their corespondent indicators also require xAxis with Datetime with ability to eliminate none trading times.
Many new libraries support unixtimestamp for date.

[2020-04-14 03:36] swharden commented on #348
To plot OHLCs with `DateTime` units next to other plottables (like scatter plots) which use double arrays for the horizontal axis, use `DateTime.ToOADate()` to convert all of your dates to doubles before making the scatter plot.

ScottPlot uses OADate instead of unix time. Interestingly, .NET doesn't support unix time. If you want to convert a `DateTime` to/from unix time, you have to write your o

[2020-04-14 03:36] #348 closed

[2020-04-16 10:14] LogDogg opened #349 "user control axis limits"
Is it possible to set bounds for an axis outside of which the user cannot zoom out/pan by any means, similar to OxyPlot's AbsoluteMinimum and AbsoluteMaximum?

[2020-04-17 01:54] swharden commented on #349
Hey @LogDogg thanks for the question. There's not a way to do that currently. The closest you can do is use `formsPlot1.Configure()` to lock the horizontal and/or vertical axis.

I like the idea though! I'll look into it further and come up with a solution, then update this ticket when I make progress. I'm thinking it will look something like:
[code]

[2020-04-17 02:03] swharden opened #350 "WPF bitmap conversion code may need improvement"
**Issue to be solved:** I'm concerned about the code the WPF control uses to convert [`System.Drawing.Bitmap`](https://docs.microsoft.com/en-us/dotnet/api/system.drawing.bitmap) (the output of ScottPlot) to a [`System.Windows.Media.Imaging.BitmapImage`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.imaging.bitmapimage) (which a WPF Image control displays).

## Current Implementa

[2020-04-17 02:44] swharden commented on #350
Possible alternative but pay close attention to `System.Windows.Media.PixelFormats.Bgra32`

[code]

[2020-04-17 02:50] swharden commented on #350
Found this floating on the internet too. Similar to my current code, but with a proper `uses` statement and the use of `Freeze` avoids errors when this is done on a thread separate from the GUI thread.

[code]

[2020-04-17 14:19] bukkideme opened #351 "PlotSignal with DateTime X-axis / Middle mouse zoom wrong result"
**Describe the bug**
When using the middle mouse "rectangle" zoom on a PlotSignal WinForm plot, the result shows empty graph, with no ticks and labels on X-axis. When using the right mouse click zoom options, everything works as expected.

**To Reproduce**
Create a Winform PlotSignal plot, and use the middle mouse zoom.

Some relevant code parts:
`formsPlot1.plt.YLabel("Sensor 1 Temperature (°C)")

[2020-04-17 15:19] swharden commented on #351
Thanks for mentioning this @bukkideme!

I created a new demo to help test/monitor this behavior. I found this error does not affect all DateTime axes, just ones that are highly zoomed in (displaying seconds/minutes).

This bug relates to #269. This error is caused by the conversion between `float` and `double`. DateTime objects which track seconds/minutes require double precision, but mouse the tr

[2020-04-17 19:02] LogDogg opened #352 "Is it possible to change key binds"
Is there an option to customize the keyboard/mouse controls? For example, use left click to zoom and right click to pan, alt+left click to rectangle zoom etc.

[2020-04-17 19:06] LogDogg opened #353 "Ignore an axis on rectangle zoom"
It would be really useful if the rectangle zoom ignored locked axes (or other, custom defined ones). Locking an axis essentially means it shouldn't be changed by the user and rectangle zoom bypasses this.

[2020-04-17 19:11] swharden commented on #352
Aside from being able to customize the right-click menu and disable zooming and/or dragging, I don't think it's possible to re-wire events in the FormsPlot and WpfPlot controls to significantly change their interactive behavior like that.

Users who would benefit from a highly customized user control are encouraged to copy FormsPlot.cs and modify it to create their own control that meets their nee

[2020-04-17 19:11] #352 closed

[2020-04-17 19:17] swharden commented on #353
Good point @LogDogg!

Clarifying this topic, locking an axis like this:
[code]

...means that when you middle-click-drag to draw a zoom rectangle, zooming on the locked axes are ignored. Perhaps I could add an option like this to override that behavior:
[code]

What do you think about this potential solution?

[2020-04-17 19:18] LogDogg commented on #352
Yes, @swharden, it's very helpful, thank you!

[2020-04-17 19:20] LogDogg commented on #353
That would be great. I also suggest that the rectangle should span from top to bottom (if the vertical axis is locked) when this option is enabled to reflect this behaviour, but I don't know how difficult it would be to implement.

[2020-04-17 19:32] swharden commented on #353
I _really_ like this idea. I'll look into it - thanks for the tip!

[2020-04-18 09:51] LogDogg opened #354 "Scroll wheel zoom works on Win10 but not Win7"
Bug description:
Scroll wheel zoom not working in WinForms, enableScrollWheelZoom is set to true.

Steps to reproduce:
1. Drag and drop a formsPlot into the designer.
2. Enable the scroll with zoom using
`formsPlot1.Configure(enableScrollWheelZoom: true);`
3. Start the program and try to zoom using the scroll wheel

Additional info:
Everything else works as expected. You can zoom using right click

[2020-04-18 18:20] LogDogg commented on #354
I've solved it. It was an issue with PictureBox focus. I just added
`pbPlot.MouseEnter += (s, e) => pbPlot.Focus();`
under `InitializeScottPlot()` in the FormsPlot.cs User Control. It now works as intended.

[2020-04-18 18:24] LogDogg commented on #354
Hey @swharden, I'm gonna leave this issue open just so you can see it and apply the changes if necessary.

[2020-04-18 20:23] lefig opened #355 "Great project"
Just a brief mention of my appreciation for a great project.

I have been a long time user.

Thank you

Fig

[2020-04-18 20:28] swharden commented on #355
Thank you so much @lefig / Fig!

I initially wrote this library as a tool just for me to use, but it's been fun to watch it mature as a public project and I love hearing that other people enjoy using it too! It keeps getting better over time, and I look forward to watching the future of this library continue to unfold!

Thanks again for your inspiring comment.
Scott

[2020-04-18 20:28] #355 closed

[2020-04-19 23:24] iu2kxv opened #356 "WpfPlot fails in designer view on .NET Framework"
I cannot install the package with the error attached.
I tried to use .net 4.7.2 and 4.8 but nothing improved.
My project is 64 bit wpf.

Error		Could not install package 'ScottPlot 4.0.29'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.8', but the package does not contain any assembly references or content files that are compatible with that framework

[2020-04-19 23:30] swharden commented on #356
@iu2kxv I just created a new .NET Framework 4.8 WPF project and installed the packages successfully. I'm on a 64-bit system too.

* Perhaps try this on a new project you create from scratch?
* Perhaps upgrade your Visual Studio?

![image](https://user-images.githubusercontent.com/4165489/79702578-fadf2780-8273-11ea-94a2-9ce3718d871e.png)

[code]

[2020-04-20 18:22] swharden opened #357 "improve quickstart page"
some screenshots could go a long way
http://swharden.com/scottplot/quickstart

[2020-04-20 21:45] LogDogg opened #358 "Chart Control (alternative to FormsPlot)"
It would be nice if there was an option to enable scrollbars. Something like:
`formsPlot.Configure(verticalScrollbar: true, horizontalScrollbar: true);`
For the actual values on the axes that the scrollbars would scroll from and to, I see 3 different options:
1. Define them through a function, like `formsPlot.plt.ScrollbarLimits()` or something similar (I like this option because it gives develope

[2020-04-20 22:07] swharden commented on #358
I think I understand this request. Do you have a sample screenshot of a dataset or graph that would benefit from scrollbars? It's kind of hard to picture.

![image](https://user-images.githubusercontent.com/4165489/79804253-b1551200-8331-11ea-9a9a-3840f71f1434.png)

Here's a mock-up I made in PowerPoint. Is this what you had in mind?

You bet! I'm a bit distracted at the moment on a couple other p

[2020-04-20 22:53] LogDogg commented on #358
That's pretty much what I meant, plus the little arrow buttons on the top and bottom that you usually see on a scrollbar. I'll try to provide some screenshots tomorrow (it's 1 AM here currently).
The scrollbars would be useful for a number of reasons, primarily for the horizontal axis. If you want to stay zoomed in the same amount, they allow you to quickly observe parts of data that are far apart

[2020-04-20 23:16] swharden commented on #358
There's a science program called ClampFit for exploring biological electrical signals. It uses a simple system to do many of the things you're suggesting. In this screen capture I don't demonstrate the scrollbars, but they do what you'd expect.

![clampfit-interaction](https://user-images.githubusercontent.com/4165489/63170189-c17c5b00-c006-11e9-91c2-f6d07a63dd5f.gif)

Instead of continuing to hac

[2020-04-20 23:32] swharden opened #359 "zero tick mark doesn't align with left edge"
Plot a signal, use `plt.AxisAuto(0)`, then look at the bottom left corner. I think this is accurate - the zero tick marks the zero position (the first pixel column)... but it looks bad because the tick mark isn't perfectly aligned with the left edge of the frame.

![image](https://user-images.githubusercontent.com/4165489/79808866-0c403680-833d-11ea-9941-51050ff353d8.png)

![image](https://user-im

[2020-04-21 07:38] FadyDev opened #360 "Scaling while zooming"
Hello,
As you see in the attached screenshot, I found that when zooming the scaling of the grid shows strange behavior, in which, the point is divided into a value on the left of the grid and the rest of it above.

Is it possible to enhance the scaling to show the number as a whole on both axis?

Thanks in advance for your help.
BR
Fady

[2020-04-21 14:28] swharden commented on #360
Hi @FadyDev, this post doesn't have a screenshot. Can you add one or post a code sample to help me reproduce this behavior? Thanks!

[2020-04-21 14:41] swharden opened #361 "color mixer"
Add a tool to make it easier to mix two colors.

[code]
[code]

### Example Usage

![image](https://user-images.githubusercontent.com/4165489/79879503-c1660380-83bc-11ea-8d9a-704f4739b89e.png)

[code]

[2020-04-21 14:51] swharden opened #362 "PlotText alignment doesn't respect rotation"
Without rotation the `alignment` argument works as expected
[code]

With rotation it fails, and no alignment properly displays what I want
[code]

I want to support both these cases (black point is coordinate, red box is text)
![image](https://user-images.githubusercontent.com/4165489/79880278-cbd4cd00-83bd-11ea-8ee9-1cea839937f1.png)

[2020-04-21 14:54] swharden opened #363 "L-shaped scalebar"
I hacked this together manually, but an L-shaped scalebar _plottable_ seems useful

![image](https://user-images.githubusercontent.com/4165489/79880752-6b925b00-83be-11ea-8b92-4e75d1a426c3.png)

[code]

[2020-04-23 07:16] FadyDev commented on #360
Hi,

Sorry, I think I had some connection problems while uploading. Here is the screenshot :)

![ScottPlott_Scale_Issue](https://user-images.githubusercontent.com/21091471/80070219-ea180580-8542-11ea-8ebd-cb505379a484.jpg)

[2020-04-28 02:06] Resonanz opened #364 "Center text above plot"
**What can we do to make ScottPlot better?**
Text is not centered across the top of the plot box. Perhaps centering takes into account the text on the vertical axis, but in any case from a "beauty" point of view, I think centering would make the plot output look nicer and be more visually appealing.

Example of plot, text not centered: [http://swharden.com/scottplot/cookbooks/4.0.29/#quickstart-qu

[2020-04-28 13:51] FadyDev commented on #360
Hallo @swharden

I added the screenshot right after your reminder. I hope you could find a solution for that problem.

[2020-04-29 16:43] swharden commented on #364
Hi @Resonanz, the Title text is centered in the _Figure_ while the horizontal axis label is centered against the plot data area.

One of the other will always look off-center, and this seemed like the most logical way to position things. What do you think?

![image](https://user-images.githubusercontent.com/4165489/80622509-e68aef80-8a16-11ea-824c-c65b60b165a2.png)

This image shows the center pos

[2020-04-29 16:48] swharden commented on #364
It looks like matplotlib aligns the title center with the data area center (not the figure center) so maybe this should be the default behavior of ScottPlot too 🤔

![image](https://user-images.githubusercontent.com/4165489/80622934-80eb3300-8a17-11ea-9723-f0f61662e8ff.png)

![image](https://user-images.githubusercontent.com/4165489/80623062-aaa45a00-8a17-11ea-993c-3da308726260.png)

[2020-04-29 20:02] Resonanz commented on #364
Hi Scott, a non-centered title looks increasingly ugly as plots get smaller, or as the title gets shorter. I am fitting 96 plots on one screen, so it looks quite bad :-)

The other issue I have is the position of the vertical axis text. On the plot immediately above, the axis text looks nicely positioned and placed and sized. For my small plots below, the vertical text is way off in left field.

!

[2020-04-29 21:03] swharden commented on #364
@Resonanz thanks for the feedback! As you point out, the smaller the plot is the more obvious it becomes that the title appears oddly aligned. I'll change it to align with the data area like the xLabel does.

Regarding the right edge not showing, does changing padding to 1 help?
[code]

PS: I'm super absorbed in another project right now, but it won't take too much longer, then I'll swing back to

[2020-04-29 21:10] Resonanz commented on #364
Padding: 1 doesn't seem to change anything.

[2020-05-01 02:11] thunderstatic opened #365 "RightClickMenu in FormsPlot doesn't disable"
I want to disable menu strip of FormsPlot in WinForms project but **enableRightClickMenu** flag doesn't work.
Temporary solution for me: `[FormsPlotName].ContextMenuStrip = null;`

![screenshot](https://user-images.githubusercontent.com/47780366/80776019-af355380-8b7a-11ea-952b-bcaf4abbb65a.jpg)

[2020-05-01 03:09] swharden commented on #365
Thanks for reporting this @thunderstatic! I'll fix this issue in the next release 👍

[2020-05-01 10:38] jmecosta opened #366 "plot data with random datetime"
hi,

i have this kind of data, these are execution times for an operation that i want to detect regressions

2/4/2020 10:00 - 10
3/4/2020 11:00 - 10
3/4/2020 14:00 - 10
23/4/2020 15:00 - 20

i would like to create a datetime plot that has only the samples above. i tought about reconstructing the data however its not correct for end users since between 3/4 to 23/4 the regression might happen.

we a

[2020-05-01 13:51] swharden commented on #366
Hi @jmecosta,

Most of this is doable, with a couple exceptions. Multiple Y axes are not yet supported (#180) but I'll leave this issue open to let me consider again how I might be able to implement this because the request keeps coming up. Also horizontal legends are currently not supported.

On the other hand if you had 3 stacked plots that shared the same X axis (http://swharden.com/scottplot/c

[2020-05-01 22:35] jmecosta commented on #366
@swharden thanks, multiple Y values per X value is not something im interested (if i understood #180 properly)

i think i didn't explain myself properly, x axis will always be a unique since its a datatime object. i just want it not to be uniform.... ive looked in api but i could only find a start time and a  constant increment (apologies if i havent find what i want in doc)

so what i want is Sco

[2020-05-01 22:45] swharden commented on #366
Sounds good! You'll do something like:

[code]

Let me know if this answers your question 👍

[2020-05-02 10:00] jmecosta commented on #366
perfect
![image](https://user-images.githubusercontent.com/1041352/80861065-dc662c80-8c74-11ea-9ed7-df687b9f7315.png)

thanks again for the quick help!

[2020-05-02 10:00] #366 closed

[2020-05-02 21:55] shaymongracia opened #368 "How do I match xs with ys in SignalPlot"
Hi Scott,

I have a question, how do I match the xs with ys in the SignalPlot? I mean, I'm trying to logging a signal is coming from current shunt resistor but I need the x axis as timespan, is this possible?

Regards

[2020-05-02 23:28] swharden commented on #368
Hi @shaymongracia,

You can define limits manually

[code]

or automatically

[code]

If you do this in a user controls be sure to redraw the image after adjusting the axis:
[code]

Does this fully answer your question?

[2020-05-02 23:30] swharden commented on #368
... if you're asking about how to set the sample rate and horizontal offset of a signal plot, check the SignalPlot() arguments.

http://swharden.com/scottplot/cookbooks/4.0.29/#customize-ticks-datetime-axis

Does this answer your question?

[2020-05-03 12:10] JagDTalcyon opened #369 "PlottableScatter.GetLimits() throws System.InvalidOperationException: Sequence contains no elements"
**Describe the bug**
Provide a clear and concise description of what the bug is

Unhandled exception. System.InvalidOperationException: Sequence contains no elements
   at System.Linq.ThrowHelper.ThrowNoElementsException()
   at System.Linq.Enumerable.Min(IEnumerable`1 source)
   at ScottPlot.PlottableScatter.GetLimits()
   at ScottPlot.Settings.AxisAuto(Double horizontalMargin, Double verticalMar